<div class="home-page-calculator-wrap">
    <div class="home-page-calculator">
        <form action="https://transferwise.com/request/placeOrder" method="get" name="calculateForm" id="calculateForm" target="_top">
            <input type="hidden" name="fixType" value="SOURCE" id="fixType" >
            <div class="calc-head"><span class="regular-heading">Transfer money</span></div>
            <div class="currency-select-block">
                <div class="source amount-cur-selector source-wrap">
                    <label>You send</label>
                    <div class="cur-input-wrap">
                        <input type="tel" class="cur-input" maxlength="12" value="1000" name="sourceValue" ng-model="sourceValue" ng-change="calculateTarget()" ng-click="setState('source')" ng-class="{disabled: state != 'source'}">
                    </div>
                    <div class="cur bg-norm">
                        <div class="cur-selector-label">From</div>
                        <select name="sourceCurrencyId" ng-model="sourceCurrency" ng-change="state == 'source'? calculateTarget() : calculateSource()" ng-options="c.id as c.name for c in currencies" class="currencySelect sourceCurrency showScrollOSX" aria-disabled="false">
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <img src="/static/images/arrow_transfer.png" class="arrow-down">
                <div class="target amount-cur-selector target-wrap">
                    <input type="checkbox" value="1" name="isFixTypeTarget" id="isFixTypeTarget" class="hide">
                    <label>Receiver gets</label>
                    <div class="cur-input-wrap">
                        <input type="tel" class="cur-input disabled" maxlength="12" value="1,000" name="targetValue" ng-change="calculateSource()" ng-model="targetValue" ng-click="setState('target')" ng-class="{disabled: state != 'target'}">
                    </div>
                    <div class="cur last bg-norm">
                        <div class="cur-selector-label">To</div>
                        <select name="targetCurrencyId" class="currencySelect targetCurrency showScrollOSX" aria-disabled="false" ng-options="c.id as c.name for c in currencies" ng-model="targetCurrency" ng-change="state == 'target'? calculateSource() : calculateTarget()">
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="make-payment-block"><input class="big-calculator event_calc_make_a_transfer" type="submit" value="get started now"></div>

            <div class="calculation-details">
                <div class="results hide" style="display: none;">
                    <table>
                        <tbody><tr>
                            <td class="col-1 details-head"></td>
                            <td class="col-2 details-head">TransferWise</td>
                            <td class="col-3 details-head">Average bank</td>
                        </tr>
                        <tr>
                            <td class="col-1 no-b-bottom">Rate</td>
                            <td class="col-2">
                                <div class="calc-num">{{calculationResults.transferwise_rate}}</div>
                                <div class="note">the real exchange rate</div>
                            </td>
                            <td class="col-3">
                                <div class="calc-num">{{calculationResults.averagebank_rate}}</div>
                                <div class="note">bank's own exchange rate</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 no-b-top">Fee</td>
                            <td class="col-2 ">
                                <div class="service-cost-details ar hide">
                                    <table>
                                        <tbody><tr>
                                            <td class="title"><a href="https://transferwise.com/support/how-much-does-it-cost" target="blank"><img class="help-mark" src="/static/images/grey_question_small.png" alt="?"></a> Transfer fee:
                                            </td><td class="number calc_number">£ 4.98</td>
                                        </tr>
                                        <tr class="last-row">
                                            <td class="title">Rate mark-up:</td>
                                            <td class="number calc_number">£ 0.00</td>
                                        </tr>
                                        </tbody></table>
                                </div>
                                <div class="calc-num">{{calculationResults.transferwise_fee}}</div>
                                <div class="note">{{calculationResults.transferwise_fee_note}}</div>
                            </td>
                            <td class="col-3 vtop">
                                <div class="service-cost-details ar hide">
                                    <table>
                                        <tbody><tr>
                                            <td class="title">Transfer fee:
                                            </td><td class="number calc_number">£ 15.00</td>
                                        </tr>
                                        <tr class="last-row">
                                            <td class="title">Rate mark-up:</td>
                                            <td class="number calc_number">£ 34.48</td>
                                        </tr>
                                        </tbody></table>
                                </div>
                                <div class="calc-num">{{calculationResults.averagebank_fee}}</div>
                                <div class="note">{{calculationResults.averagebank_fee_note}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 top0"></td>
                            <td class="col-2 top0"></td>
                            <td class="col-3 top0"></td>
                        </tr>
                        <tr>
                            <td class="col-1 last-row">You&nbsp;get</td>
                            <td class="col-2 last-row">
                                <div class="calc-num">{{calculationResults.transferwise_you_get}}</div>
                            </td>
                            <td class="col-3 last-row">
                                <div class="calc-num">
                                    <span class="bank_you_get">{{calculationResults.averagebank_you_get}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 top0"></td>
                            <td class="col-2 top0"></td>
                            <td class="col-3 top0"></td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="calc-bottom-block">
                <span id="bot-text-before">You'll get</span>
                &nbsp;&nbsp;
                <span class="large-num" id="saving-amount">{{calculationResults.saving_amount}}</span>
                &nbsp;&nbsp;
                <span id="bot-text-after">more</span>
                <span class="italic">Vs</span>
                your bank
            </div>
            <div class="top5"></div>
        </form>
    </div>
    <div class="tease-block"><a href="https://transferwise.com/#" class="down" style="background-position-y: -3px;">Click to see why</a></div>
</div>

<script>
    new CalculatorAnimationsHandler('Click to see why');
</script>