#tt { 
	padding:6px; 
	position:absolute; 
	display:block; 
	background:#eaeafa; 
	text-align: left;
	border:1px solid #999999;
	z-index: 9999;
}
#tt hr { border:0; border-top:solid black 1px; height:1px; margin:3px 0 2px; }
