@charset "UTF-8";
body {
	min-width: 50px;
}

.in-resp-hide {
	display: none;
}

.about-us .in-resp-hide,
.blog .in-resp-hide {
	display: block;
}

.header .logo a {
	margin-left: 10px;
}

.container {
	max-width: 100%;
	position: relative;
}

.header .login {
	display: block;
}

.login .login-title {
	display: none;
}

.login {
	padding-right: 2%;
}

.container .about-us,
.container .blog,
.container.home-media,
.trustpilot .container .blocks {
	width: 94%;
	padding: 0 3%;
}

.footer .image {
	background-image: none;
}

/*Header*/
.header .login span.welcome-title,
.header .login a.welcome-name {
	display: none;
}

/*Footer*/
.footer {
	width: 94%;
	padding: 0 3%;
}

.footer .container.image .column {
	width: 22%;
	margin-right: 3%;
}

.footer .container.image .column-last {
	width: 24%;
}

.container br.clear {
	clear: both;
	margin-top: 50px;
	display: block !important;
}

br.clear, .conversion {
	display: none;
}

.block-mobile {
	display: none;
}

.block-desktop {
	display: none;
}

.block-tablet,
.block-tablet.block-desktop,
.block-tablet.block-mobile {
	display: block;
}

.business-link {
	display: none !important;
}

.header .lang {
	margin-right: 1%;
}

