@charset "UTF-8";
.map .left-block {
	width: 94%;
	padding: 0 3%;
}

.fsa,
.tab-switcher,
.map .twitter-share-button,
#calculateForm .head {
	display: none;
}

.map-text.tab1 .left-block {
	margin: 0 3%;
	max-width: 100%;
	padding: 0;
	width: 94%;
}

#calculateForm {
	display: block;
}

.map-text.tab1 .right-block,
.map .right-block {
	width: 100% !important;
	clear: both;
}

.map .left-block {
	width: 94% !important;
	clear: both;
}

.panel.form-cur-exch .currency {
	border: 0;
}

.map-text .panel.form-cur-exch {
	padding-top: 2%;
	box-shadow: none;
	margin: 0;
	border-radius: 0;
	background-image: url('images/index/calc_bg-for-mobile.png');
	border-top: 5px solid #DAE6E6;
	border-bottom: 5px solid #DAE6E6;

}

/*Calculator*/
.amount-cur-selector.arrow {
	display: none;
}

.currency .source.amount-cur-selector,
.currency .target.amount-cur-selector {
	width: 100%;
}

.currency .amount-cur-selector input.cur-input {
	width: 60%;
	height: 50px;
}

.amount-cur-selector .cur {
	background: transparent url('images/selectmenu/cur-dd-bg-for-responsive-mobile.png') 0 0 repeat-x !important;
}

.currency select.sourceCurrency,
.currency select.targetCurrency {
	width: 82px;
	height: 50px;
	border: none;
	font-size: 16px;
	font-weight: 700;
	color: #224559;
	padding-top: 15px;
	padding-bottom: 15px;
}

.indent-select-calc {
	height: 50px !important;
	padding: 15px 0 15px 10px;
	background: transparent url("images/selectmenu/cur-select-arrow.png") 57px 16px no-repeat !important;
}

.currency .amount-cur-selector .cur {
	height: 50px !important;
}

.currency .amount-cur-selector .cur,
.amount-cur-selector .ui-selectmenu.ui-selectmenu-dropdown {
	height: 50px;
}

.ui-selectmenu-status {
	line-height: 2.0em !important;
}

.currency .amount-cur-selector .fix-type-selector {
	left: 0;
	top: 95px;
}

.currency .calculation-details {
	margin-top: 40px;
}

.calculation-details .note,
.ar.right,
.notu.show-service-cost-details {
	display: none;
}

.form-cur-exch .fee-font {
	display: none;
}

.calculation-details tbody .col-1.head-empty,
.calculation-details tbody .col-2.head-color,
.calculation-details tbody .col-3.head-color {
	border-top: none;
}

.calculation-details .last-row .col-2 .big-number {
	display: none;
}

.home-page-calculator-wrap {
	width: 100% !important;
	margin: 0 0 100px 0;
	position: static !important;
}

.home-page-calculator {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.home-page-calculator-wrap .tease-block {
	display: none !important;
}

.home-page-calculator .big-calculator {
	width: 80%;
}

.home-page-calculator .currency-select-block .source-wrap,
.home-page-calculator .currency-select-block .target-wrap {
	width: 80%;
}

.home-page-calculator .amount-cur-selector input.cur-input {
	width: 100%;
	height: 50px;
}

.home-page-calculator .amount-cur-selector .cur {
	height: 50px;
}

.home-page-calculator .cur-input-wrap {
	padding-right: 150px;
}

.home-page-calculator .cur-selector-label {
	top: 14px;
}

.home-page-calculator .indent-select-calc {
	padding: 15px 0 15px 40px;
	background: transparent url("images/selectmenu/cur-select-arrow.png") 87px 16px no-repeat !important;
	font-weight: 700;
	color: #7C8D8F;
	font-size: 16px;
}

/*Ticker*/
.currency .ticker-container {
	border-top: 1px solid white;
	padding-top: 25px;
	padding-bottom: 20px;
}

.currency .clear.make {
	border-bottom: 1px solid #DAE6E6;
}

ul#ticker {
	height: 66px;
	overflow: hidden;
	margin-top: -7px;
	width: 100%;
}

ul#ticker  li {
	height: 37px;
	padding: 10px 0px;
	font-weight: 400;
	font-size: 16px;
	color:#8DA4A6;
	line-height: 19px;
	width: 100%;
}

ul#ticker .text-container {
	width: 90%;
}

ul#ticker  li .time-ago {
	font-size: 14px;
	font-weight: lighter;
}


.social .left.width450 {
	float: none;
	width: 100% !important;
}

.social .right.mtop5 {
	width: 100%;
	margin: 0 auto;
	float: none;
}

.social .comms .quote:after {
	font-size: 217px;
	left: 60%;
	top: -5%;
}

.social .partners a {
	clear: both;
	display: block;
}

.social .flexslider,
.about-us .flexslider,
.how-to .flexslider-steps {
	background: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	margin: 0;
	position: static;
}

.social .flexslider .slides img {
	padding: 0;
	margin-top: 34px;
	display: inline;
	width: auto;
}

.home-media .flexslider .flex-direction-nav a {
	top: -70%;
}

.how-to .flex-direction-nav li .flex-prev.flex-disabled,
.how-to .flex-direction-nav li .flex-next.flex-disabled {
	background: none;
	cursor: default;
}

.social .mleft-50 {
	margin-left: auto;
}

.partners.bot20.mleft-50 {
	padding-bottom: 0;
}

.social .comms.height130 {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.social .quote {
	display: block;
}

.block.step1 .image,
.block.step2 .image,
.block.step3 .image {
	display: none;
}

.block.step2,
.block.step3 {
	display: none;
}

.container.fb {
	display: none;
}

.social h2 {
	text-transform: uppercase;
}

body .body {
	background: none;
}

body .body .block.step1:before,
body .body .block.step2:before,
body .body .block.step3:before {
	font-size: 200px;
	top: 127px;
	left: 35%;
}

.block.text-left.step1 .text,
.block.step2 .text,
.block.text-left.step3 .text {
	float: none;
	margin: 0 1%;
	max-width: 100%;
	min-height: 155px;
	padding: 0;
	width: 94%;
}

.container.how-to {
	padding: 0 2%;
}

.container.how-to .saving {
	margin-top: 25px;
}

.step-it-works {
	background: url("images/index/mobile_sprite_how_it_works.png") repeat-x;
	background-position: 0 -122px;
	line-height: 40px;
	height: 36px;
	color: #667D7F;
	margin: 0 1% 25px 1%;
	width: 94%;
}

.step-it-works.active {
	background-position: 0 -82px;
}

.step-it-works .step-line {
	background: url("images/index/mobile_sprite_how_it_works.png") repeat-x;
	height: 36px;
	background-position: 0 -122px;
	position: absolute;
	width: 50%;
}

.step-it-works .step-line.active {
	background-position: 0 -82px;
}

.step-it-works .step1,
.step-it-works .step2,
.step-it-works .step3 {
	background: url("images/index/mobile_sprite_how_it_works.png") no-repeat;
}

.step-it-works .step1 {
	background-position: 0 0;
	height: 36px;
	width: 57px;
	margin: 0 -5px;
	text-align: center;
	color: #667D7F;
	float: left;
}

.step-it-works .step1.active {
	color: #334659;
	background-position: 0 -42px;
}

.step-it-works .step2 {
	background-position: 50% 0;
	height: 36px;
	width: 94%;
	text-align: center;
	position: absolute;
	color: #667D7F;
	margin: 0 auto;
}

.step-it-works .step2.active {
	background-position: 50% -42px;
	color: #334659;
}

.step-it-works .step3 {
	background-position: 0 0;
	height: 36px;
	width: 57px;
	margin: 0 -5px;
	text-align: center;
	color: #667D7F;
	float: right;
}

.step-it-works .step3.active {
	background-position: 0 -42px;
	color: #334659;
}

/*map*/
.map .dynamic-map-holder {
	display: none;
}

.map {
	background: -webkit-radial-gradient(center center, circle farthest-corner, #B5CCC8 25%, #E3F2F0 140%, #F7FFFF) #BCD2CE;
	background: -moz-radial-gradient(center center, circle farthest-corner, #B5CCC8 25%, #E3F2F0 140%, #F7FFFF) #BCD2CE;
	background: -o-radial-gradient(center center, ellipse farthest-corner, #B5CCC8 50%, #E3F2F0 120%, #F7FFFF 100%) #BCD2CE;
	background: -ms-radial-gradient(center center, ellipse farthest-corner, #B5CCC8 50%, #E3F2F0 120%, #F7FFFF 100%) #BCD2CE;
}

.map-background {
	background-image: none;
}

.map-wrapper {
	width: 100% !important;
}

.container.home-media {
	width: 94%;
	padding: 0 3%;
}

.partners .flexslider {
	-moz-user-select: -moz-none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
}

.cur-input-wrap {
	padding-right: 110px;
}

.currency .amount-cur-selector input.cur-input {
	width: 100%;
}

.currency .amount-cur-selector .cur {
	width: 82px;
}

/* Font calculator */

.fix-type-selector label,
.number.calc_number {
	font-size: 16px;
}

.col-2.head-color,
.col-3.head-color {
	font-size: 15px;
}

.map .left-block h1 {
	font-size: 2em;
	line-height: 1em;
}

.map .left-block p {
	font-size: 1.2em;
	line-height: 1.2em;
}

.make-transferwise {
	padding: 20px 0 0 0;
}

.text-resp-saving {
	font-size: 16px;
}

.block.text-left.step1 .text,
.block.step2 .text,
.block.text-left.step3 .text {
	max-width: 82%;
	margin: 0 10%;
}

.security-page {
	padding-left: 4%;
	padding-right: 2%;
}

.security-page .content {
	width: 100% !important;
}

.security-page h1 {
	font-size: 32px;
	padding-top: 20px;
}

.home-media .video-embed {
	max-width: 406px;
	margin: 0 auto;
}

.home-media .media .video {
	float: none;
	margin: 0 auto;
}

.home-media .customer {
	display: none;
}

.home-media .stories.col55,
.home-media .stories .text.col65 {
	width: 100%;
}


.home-media .stories .text {
	text-align: center;
	padding: 0;
	float: none;
}

.home-media .flexslider-stories .flex-control-nav,
.home-media .flexslider-hiw .flex-control-nav {
	display: none;
}

.home-media a.button.stories,
.trustpilot a.button.all-reviews {
	display: inline-block;
}

.home-media .flexslider-stories li .text,
.home-media .flexslider-hiw li .wrap-hiw,
.trustpilot .flexslider-trustpilot li .wrap-plt {
	margin: 0 10%;
	max-width: 82%;
}

.home-media .how-it-works .flexslider-hiw .slides li,
.trustpilot .flexslider-trustpilot .slides li {
	margin: 0;
}

.home-media .saving,
.home-media .move-right {
	display: none;
}

.home-media .partners li a {
	margin: 0 auto !important;
}

.home-media .quotes .quote {
	font-size: 22px;
	line-height: 28px;
}

.home-media .quotes .quote span.symbol {
	font-size: 22px;
}

.home-media .partners {
	width: 100%;
}

.home-media .how-it-works .blocks {
	width: 100%;
}

.trustpilot .reviews li {
	width: auto;
}

.home-media .wrap-hiw h3,
.home-media .wrap-hiw .media-img {
	text-align: center;
}

/*links block*/
.home-media .links-block .column {
	width: 100%;
	float: none;
	padding: 30px 0px;
	position: relative;
}

.home-media .links-block .study,
.home-media .links-block .startups,
.home-media .links-block .hiring {
	text-align: center;
}

.home-media .links-block .link-pic {
	background: url("images/index/tw_linking_sprite.png") no-repeat;
	position: static !important;
	width: 57px;
	height: 57px;
	margin-left: -26px;
	display: inline-block;
}

/*Italian Lp info block*/
.italian-chamber-info .blue-heading {
	font-size: 20px;
}

.italian-chamber-info .first-col {
	width: 100%;
	text-align: center;
	float: none;
	padding-bottom: 20px;
}

.italian-chamber-info .second-col {
	width: 100%;
	text-align: center;
	float: none;
	padding-bottom: 20px;
}

.italian-chamber-info .third-col {
	width: 100%;
	background-position: center 10px;
	float: none;
}

.charts-video .chart-col {
	display: none;
}

.charts-video .video-col {
	width: 100%;
	margin-top: 30px;
}

.testimonials-wide .col {
	width: 100%;
}

/*French Landing page responsive styles*/
.country-page-subhead {
	padding-bottom: 20px;
}

.french-lp {
	padding: 0 3%;
	background-image: none;
}

.french-lp .upper-wide {
	box-shadow: none;
	border: none;
}

.french-lp .upper-wide .perforated {
	display: none;
	box-shadow: none;
	border: none;
}

.french-lp .right-col,
.french-lp .left-col {
	width: 100%;
}

.french-lp .liberte-sticker,
.french-lp .invites-sticker,
.french-lp .banques-sticker {
	padding: 20px;
}

.french-lp .upper-wide .text-content {
	width: 100%;
}

.french-lp .fr-sharing {
	width: 100%;
	text-align: center;
}

.french-lp .share-text {
	float: none;
	padding: 0;
	margin-top: 0;
}

.french-lp .liberte-sticker .fr-blue-button,
.french-lp .share-buttons {
	float: none;
}

.french-lp .invites-sticker .perforated,
.french-lp .banques-sticker .perforated,
.french-lp .liberte-sticker .perforated {
	display: none;
}

.french-lp .upper-wide h2,
.french-lp .liberte-sticker h3,
.french-lp .banques-sticker h3 {
	font-size: 25px;
	line-height: 26px;
	margin-top: 5px;
}

.french-lp .banques-sticker .mtop30 {
	margin-top: 5px;
}

.french-lp .banques-sticker hr {
	width: 184px;
}

.map .left-block h1.french-heading {
	padding-top: 24px;
}


