@charset "UTF-8";
#calculateForm .in-resp-hide {
	display: none;
}

#calculateForm .in-hide {
	display: block;
}

.container.fb,
.map .tab-switcher,
.map .twitter-share-button {
	display: none;
}

.container.how-to {
	padding: 0 2%;
}

.container.how-to .social,
.home-media .quotes {
	display: none;
}

.container.how-to .social div.left {
	min-width: 52% !important;
}

.container.how-to .social div.right {
	width: 48% !important;
}

/*Map styles*/
.map .container {
	width: 100% !important;
	margin-right: 1%;
}

.map .left-block,
.map .right-block {
	width: 46% !important;
}

.map .left-block {
	margin-left: 2%;
	padding-left: 0 !important;
}

.map .right-block {
	margin-right: 2% !important;
}

/*Calculator*/
.currency .amount-cur-selector.arrow {
	display: none;
}

.form-cur-exch .currency {
	padding-top: 10px;
	border: none;
}

.calculation-details .note,
.notu.show-service-cost-details,
.ar.right {
	display: none;
}

.in-resp-hide {
	display: none;
}

#calculateForm .head {
	display: none;
}

.currency .amount-cur-selector {
	width: 100% !important;
}

.currency .ticker-container {
	border-top: 1px solid white;
	padding-top: 25px;
	padding-bottom: 20px;
}

.currency .clear.make {
	border-bottom: 1px solid #DAE6E6;
}

.form-cur-exch .fee-font {
	display: none;
}

ul#ticker {
	height: 66px;
	overflow: hidden;
	margin-top: -7px;
	width: 100%;
}

ul#ticker  li {
	height: 37px;
	padding: 10px 0px;
	font-weight: 400;
	font-size: 16px;
	color:#8DA4A6;
	line-height: 19px;
	width: 100%;
}

.currency select.sourceCurrency,
.currency select.targetCurrency {
	width: 82px;
	height: 50px;
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	color: #224559;
	padding-top: 15px;
	padding-bottom: 15px;
}

.indent-select-calc {
	height: 50px !important;
	padding: 15px 0 15px 10px;
	background: transparent url("images/selectmenu/cur-select-arrow.png") 57px 16px no-repeat !important;
}

.currency .amount-cur-selector .cur {
	height: 50px !important;
}

.form-cur-exch .number,
.form-cur-exch .big-number,
.form-cur-exch .bigest-number {
	font-size: 17px;
	line-height: 29px;
}

ul#ticker .text-container {
	width: 90%;
}

ul#ticker  li .time-ago {
	font-size: 14px;
	font-weight: lighter;
}

.home-page-calculator-wrap {
	width: 46%;
	margin-right: 2%!important;
}

.home-page-calculator .amount-cur-selector .cur {
	height: 50px;
}

.home-page-calculator .amount-cur-selector input.cur-input {
	height: 50px;
}

.home-page-calculator .cur-selector-label {
	top: 14px;
}

.home-page-calculator .indent-select-calc {
	padding: 15px 0 15px 40px;
	background: transparent url("images/selectmenu/cur-select-arrow.png") 87px 16px no-repeat !important;
	font-weight: 700;
	color: #7C8D8F;
	font-size: 16px;
}

.home-page-calculator .calculation-details .note,
.home-page-calculator .notu.show-service-cost-details,
.home-page-calculator .ar.right {
	display: block;
}

/*How to blocks*/
.container.how-to .block.step1 img,
.container.how-to .block.step2 img,
.container.how-to .block.step3 img {
	max-width: 100%;
	display: block;
}

.step-it-works {
	display: none;
}

.block.step1,
.block.step2,
.block.step3 {
	display: block;
}

.map {
	overflow: hidden;
}

.cur-input-wrap {
	padding-right: 112px;
}

.currency .amount-cur-selector input.cur-input {
	width: 100%;
	height: 50px;
}

.ui-selectmenu-status {
	line-height: 2.0em !important;
}

.amount-cur-selector .cur {
	background: transparent url('images/selectmenu/cur-dd-bg-for-responsive-mobile.png') 0 0 repeat-x !important;
}

.currency .amount-cur-selector .cur,
.amount-cur-selector .ui-selectmenu.ui-selectmenu-dropdown {
	width: 82px;
	height: 50px;
}

.security-page {
	padding-left: 3%;
	padding-right: 2%;
}

.security-page h1 {
	font-size: 38px;
	padding-top: 30px;
}

.home-media .video-embed {
	max-width: 406px;
	margin: 0 auto;
}

.home-media .media .video {
	float: none;
	margin: 0 auto;
}

.home-media .stories.col55 {
	width: 100%;
}

.home-media .flexslider-stories .flex-control-nav,
.home-media .flexslider-hiw .flex-control-nav {
	display: none;
}

.home-media a.button.stories,
.trustpilot a.button.all-reviews {
	display: inline-block;
}

.home-media .saving,
.home-media .move-right {
	display: none;
}

.home-media .customer {
	margin-top: 0px;
}

.trustpilot .reviews li.customer .value {
	margin-right: 10px;
}

.home-page-calculator .big-calculator {
	width: 95%;
}
.trustpilot .reviews li.rating {
	margin-left: 0;
}

.student-section {
	padding-left: 2%;
	padding-right: 2%;
}

.nfof-media .spread-the-word {
	text-align: center;
}

.nfof-media .spread-the-word .spread-title {
	text-align: center;
	width: 100%;
}

/*links block*/
.home-media .links-block .column {
	width: 33.3333333333%;
	float: left;
	padding: 30px 0px;
	position: relative;
}

/*Italian Lp info block*/
.italian-chamber-info .blue-heading {
	font-size: 20px;
}

.italian-chamber-info .first-col {
	width: 30.333333333%;
	padding-right: 1%;
	padding-left: 2%;
}

.italian-chamber-info .second-col {
	width: 30.333333333%;
}

.italian-chamber-info .second-col a {
	font-style: italic;
}

.italian-chamber-info .third-col {
	width: 36.333333333%;
	background-position: 0 10px;
}

/*French Landing page responsive styles*/
.skype-paypal-badge {
	width: 240px;
}

.french-lp {
	padding: 0 2%;
}

.french-lp .upper-wide {
	box-shadow: none;
	border: none;
}

.french-lp .upper-wide .perforated {
	display: none;
}

.french-lp .upper-wide .text-content {
	width: 100%;
}

.french-lp .invites-sticker,
.french-lp .liberte-sticker {
	padding-bottom: 20px;
}

.french-lp .banques-sticker .fr-white-button {
	margin: 0 20px;
	text-align: center;
}



