@charset "UTF-8";
.cur-wish-dialog {
	width: 800px;
	border-radius: 7px;
	background: url("../images/payment-flow/help-pop-up/bg_icon.png") 600px 50% no-repeat;
	background-color: #f5f5f5;
	padding: 15px 20px;
	position: relative;
}

.cur-wish-dialog.success {
	background: url("../images/payment-flow/help-pop-up/bg_succes.png") 600px 50% no-repeat;
	background-color: #f5f5f5;
}

.cur-wish-dialog h3 {
	color: #25566F;
}

.cur-wish-dialog .regular-p {
	color: #7C8D8F;
	font-size: 15px;
	font-weight: 600;
}

.cur-wish-dialog hr {
	height: 1px;
}

.cur-wish-dialog .main-body {
	width: 80%;
}

.cur-wish-dialog .select-row li {
	float: left;
}

.cur-wish-dialog .select-row .source-cell {
	margin-right: 20px;
}

.cur-wish-dialog .select-row .target-cell {
	margin-left: 20px;
}

.cur-wish-dialog .select-row .arrow-cell {

}

.cur-wish-dialog label {
	display: block;
	color: #7C8D8F;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
}

.cur-wish-dialog select[name="currencyTo"],
.cur-wish-dialog select[name="currencyFrom"] {
	width: 260px;
}

.cur-wish-dialog .cur-background {
	width: 260px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-right: 1px solid #C7CFDE;
	border-left: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	float: left;
	position: relative;
	background: transparent url('../images/selectmenu/cur-dd-bg-sprite.png') repeat-x;
	background-position: 0 0;
}

.cur-wish-dialog .cur-background .ui-selectmenu.ui-selectmenu-dropdown {
	background: transparent;
	border: none;
	height: 38px;
}

.cur-wish-dialog .cur-background .ui-selectmenu-status {
	color: #7C8D8F;
	font-weight: 700;
	width: 230px;
	font-size: 15px;
}

.cur-wish-dialog .cur-background .ui-selectmenu-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px;
	width: 16px;
	height: 20px;
	background: transparent url('../images/selectmenu/cur-select-arrow.png') 50% 0 no-repeat;
}

.cur-wish-dialog input[type='text'],
.cur-wish-dialog input[type='email'] {
	width: 240px;
	height: 30px;
	border: 1px solid #C7CFDE;
	background-color: white;
	padding: 0 10px;
	font-weight: 500;
	font-size: 18px;
	color: #172A33;
	display: block;
}

.cur-wish-dialog .name-wrap {
	padding-right: 40px;
	float: left;
}

.cur-wish-dialog .all-done {
 	margin-top: -5px;
}

.cur-wish-dialog .mess_error,
.cur-wish-dialog .mess_error a {
	color: #C00;
	font-size: 11px;
	padding-bottom: 5px;
}

.cur-wish-dialog input[type="text"].error,
.cur-wish-dialog input[type="email"].error {
	background: url(../images/payment/payment_form_error.png) right no-repeat;
	border: 1px solid #C00 !important;
}

.cur-wish-dialog .cur-background.error {
	border: 1px solid #C00 !important;
}

.cur-wish-dialog .errors {
	padding-left: 10px !important;
}

.cur-wish-dialog .continue-brows {
	text-transform: none;
}

.cur-wish-dialog .close-cur-wish-pop {
	position: absolute;
	background: url("../images/payment-flow/help-pop-up/cross_icon.png") no-repeat;
	background-position: 0 0;
	width: 35px;
	height: 35px;
	text-indent: -99999px;
	right: 10px;
	top: 10px;
}

.cur-wish-dialog .close-cur-wish-pop:hover {
	background-position: -37px 0;
}

.home-page-calculator-wrap {
	width: 385px;
	margin: 42px 0px 50px 0px;
	padding: 0px;
	position: absolute;
	right: 0;
}

.home-page-calculator {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #b1bdbd;
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0 0 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0 0 10px rgba(50, 50, 50, 0.4);
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
}

.home-page-calculator .calc-head {
	background-color: #e9edf0;
	border-bottom: 1px solid #dce5e6;
	color: #667b80;
	padding: 15px 0 10px 0;
	text-align: center;
}

.home-page-calculator .calc-head .regular-heading {
	font-weight: 700;
	font-size: 19px;
}

.home-page-calculator .currency-select-block {
	background-color: #fafafa;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dce5e6;
	padding: 10px 0 20px 0;
	text-align: center;
	color: #7c8d8f;
	font-weight: 700;
}

.home-page-calculator .amount-cur-selector input.disabled {
	color: #8DA4A6 !important;
	background-color: #F2F5F5 !important;
}

.home-page-calculator .currency-select-block .source-wrap,
.home-page-calculator .currency-select-block .target-wrap {
	width: 235px;
	margin-right: auto;
	margin-left: auto;
}

.home-page-calculator .make-payment-block {
	background-color: #fafafa;
	padding: 10px 0 10px 0;
	text-align: center;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dce5e6;
}

.home-page-calculator .big-calculator {
	width: 350px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #8eb074;
	color: #235224;
	font-size: 15px;
	background: #b0d259;
	border-radius: 6px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 2px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	vertical-align: baseline;
	font-weight: 700;
	background: -moz-linear-gradient(top,  #b0d259 0%, #a5ca46 6%, #a1c942 10%, #a0c844 15%, #9cc13d 31%, #8bb32c 60%, #83ab24 81%, #80a91f 85%, #7ea71d 96%, #82ab21 98%, #8caa2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d259), color-stop(6%,#a5ca46), color-stop(10%,#a1c942), color-stop(15%,#a0c844), color-stop(31%,#9cc13d), color-stop(60%,#8bb32c), color-stop(81%,#83ab24), color-stop(85%,#80a91f), color-stop(96%,#7ea71d), color-stop(98%,#82ab21), color-stop(100%,#8caa2e));
	background: -webkit-linear-gradient(top,  #b0d259 0%,#a5ca46 6%,#a1c942 10%,#a0c844 15%,#9cc13d 31%,#8bb32c 60%,#83ab24 81%,#80a91f 85%,#7ea71d 96%,#82ab21 98%,#8caa2e 100%);
	background: -o-linear-gradient(top,  #b0d259 0%,#a5ca46 6%,#a1c942 10%,#a0c844 15%,#9cc13d 31%,#8bb32c 60%,#83ab24 81%,#80a91f 85%,#7ea71d 96%,#82ab21 98%,#8caa2e 100%);
	background: -ms-linear-gradient(top,  #b0d259 0%,#a5ca46 6%,#a1c942 10%,#a0c844 15%,#9cc13d 31%,#8bb32c 60%,#83ab24 81%,#80a91f 85%,#7ea71d 96%,#82ab21 98%,#8caa2e 100%);
	background: linear-gradient(to bottom,  #b0d259 0%,#a5ca46 6%,#a1c942 10%,#a0c844 15%,#9cc13d 31%,#8bb32c 60%,#83ab24 81%,#80a91f 85%,#7ea71d 96%,#82ab21 98%,#8caa2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d259', endColorstr='#8caa2e',GradientType=0 );
}

.home-page-calculator .big-calculator:hover {
	background: #8caa2e;
	background: -moz-linear-gradient(top,  #8caa2e 0%, #82ab21 2%, #7ea71d 4%, #80a91f 15%, #83ab24 19%, #8bb32c 40%, #9cc13d 69%, #a0c844 85%, #a1c942 90%, #a5ca46 94%, #b0d259 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8caa2e), color-stop(2%,#82ab21), color-stop(4%,#7ea71d), color-stop(15%,#80a91f), color-stop(19%,#83ab24), color-stop(40%,#8bb32c), color-stop(69%,#9cc13d), color-stop(85%,#a0c844), color-stop(90%,#a1c942), color-stop(94%,#a5ca46), color-stop(100%,#b0d259));
	background: -webkit-linear-gradient(top,  #8caa2e 0%,#82ab21 2%,#7ea71d 4%,#80a91f 15%,#83ab24 19%,#8bb32c 40%,#9cc13d 69%,#a0c844 85%,#a1c942 90%,#a5ca46 94%,#b0d259 100%);
	background: -o-linear-gradient(top,  #8caa2e 0%,#82ab21 2%,#7ea71d 4%,#80a91f 15%,#83ab24 19%,#8bb32c 40%,#9cc13d 69%,#a0c844 85%,#a1c942 90%,#a5ca46 94%,#b0d259 100%);
	background: -ms-linear-gradient(top,  #8caa2e 0%,#82ab21 2%,#7ea71d 4%,#80a91f 15%,#83ab24 19%,#8bb32c 40%,#9cc13d 69%,#a0c844 85%,#a1c942 90%,#a5ca46 94%,#b0d259 100%);
	background: linear-gradient(to bottom,  #8caa2e 0%,#82ab21 2%,#7ea71d 4%,#80a91f 15%,#83ab24 19%,#8bb32c 40%,#9cc13d 69%,#a0c844 85%,#a1c942 90%,#a5ca46 94%,#b0d259 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8caa2e', endColorstr='#b0d259',GradientType=0 );
}

.home-page-calculator .calc-bottom-block {
	padding: 10px 0 7px 0;
	color: #667b80;
	background-color: #fafafa;
	text-align: center;
	border-top: 1px solid #ffffff;
	font-weight: 600;
	font-size: 15px;
}

.home-page-calculator .calc-bottom-block .large-num {
	font-size: 21px;
	font-weight: 800;
}

.home-page-calculator .amount-cur-selector .cur {
	width: 115px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-right: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	float: left;
	position: relative;
}

.home-page-calculator .amount-cur-selector .cur.bg-norm {
	background: transparent url('../images/selectmenu/cur-dd-bg-sprite.png') repeat-x;
	background-position: 0 0px;
}

.home-page-calculator .amount-cur-selector .cur.bg-rotated {
	background: transparent url('../images/selectmenu/cur-dd-bg-sprite.png') repeat-x;
	background-position: 0 -41px;
}

.home-page-calculator .amount-cur-selector select {
	position: relative;
	width: 115px;
	z-index: 500;
}

.home-page-calculator .ui-selectmenu-menu li a,
.home-page-calculator .ui-selectmenu-status {
	line-height: 1.4em;
	display: block;
	padding: 7px 0px 0px 35px;
	outline: none;
	text-decoration: none;
}

.home-page-calculator .amount-cur-selector .ui-selectmenu-status {
	color: #7c8d8f;
	font-weight: 700;
	width: 57px;
}

.home-page-calculator .source-wrap label,
.home-page-calculator .target-wrap label {
	font-size: 14px;
}

.home-page-calculator .calc-widget-field-name {
	display: none;
	font-weight: 400;
	font-size: 13px;
	padding-right: 5px;
}

.home-page-calculator .amount-cur-selector input.cur-input {
	width: 90px;
	height: 38px;
	border: 1px solid #C7CFDE;
	background-color: white;
	padding: 0 12px;
	text-align: right;
	font-weight: 500;
	font-size: 20px;
	color: #172A33;
	display: block;
	float: left;
}

.home-page-calculator .cur-selector-label {
	position: absolute;
	color: #7c8d8f;
	font-size: 13px;
	left: 10px;
	top: 9px;
}

.home-page-calculator .calculation-details {
	background-color: #fafafa;
}

.home-page-calculator .col-1 {
	border-bottom: 1px solid #dae6e6;
	border-top: 1px solid #fff;
	font-size: 13px;
	padding-left: 12px;
	color: #7c8d8f;
	padding-top: 8px;
	padding-bottom: 2px;
}

.home-page-calculator .col-2,
.home-page-calculator .col-3 {
	width: 150px;
	border-bottom: 1px solid #dae6e6;
	border-top: 1px solid #fff;
	text-align: right;
	font-size: 12px;
	background: transparent;
	padding-top: 5px;
	padding-bottom: 2px;
}

.home-page-calculator .col-2 {
	padding-right: 10px;
}

.home-page-calculator .col-3 {
	padding-right: 12px;
}

.home-page-calculator .col-2 {
	border-right: 1px solid #dae6e6;
	color: #667b80;
}

.home-page-calculator .col-3 {
	color: #99a2a3;
}

.home-page-calculator .details-head {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2f5f5;
	font-size: 15px;
	font-weight: 700;
}

.home-page-calculator .calc-num {
	font-size: 16px;
	font-weight: 700;
}

.home-page-calculator .last-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.home-page-calculator-wrap .tease-block {
	text-align: center;
	font-size: 13px;
}

.home-page-calculator-wrap .tease-block a {
	display: block;
	text-decoration: none;
	color: #7c8d8f;
	font-weight: 600;
	padding-top: 25px;
	width: 105px;
	margin-left: auto;
	margin-right: auto;
}

.home-page-calculator-wrap .tease-block a.down {
	background: url("../images/index/triangles.png") no-repeat;
	background-position: -164px -3px;
}

.home-page-calculator-wrap .tease-block a.down:hover {
	background: url("../images/index/triangles.png") no-repeat;
	background-position: -164px 0 !important;
}

.home-page-calculator-wrap .tease-block a.up {
	background: url("../images/index/triangles.png") no-repeat;
	background-position: 24px -3px;
	margin-top: -1px;
}

.home-page-calculator-wrap .tease-block a.up:hover {
	background: url("../images/index/triangles.png") no-repeat;
	background-position: 24px 0 !important;
}

.home-page-calculator .notification {
	font-size: 14px;
	color: #7c8d8f;
	padding: 0 0 10px 0;
	margin-top: -23px;
	background-color: #fafafa;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
}

.home-page-calculator .notification.short  {
	width: 175px;
}

.home-page-calculator .notification .info-buble {
	display: inline-block;
	color: #ffffff;
	font-weight: 700;
	padding: 1px 9px 0 9px;
	border-radius: 35px;
	border: 1px solid #4A8FBD;
	background: #69b3f0;
	background: -moz-linear-gradient(top,  #69b3f0 0%, #5cadef 24%, #50a4ea 38%, #389bec 57%, #3093e4 67%, #318dd8 76%, #2b90e2 81%, #2d89d4 86%, #2989d6 90%, #2d85cc 95%, #2783ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69b3f0), color-stop(24%,#5cadef), color-stop(38%,#50a4ea), color-stop(57%,#389bec), color-stop(67%,#3093e4), color-stop(76%,#318dd8), color-stop(81%,#2b90e2), color-stop(86%,#2d89d4), color-stop(90%,#2989d6), color-stop(95%,#2d85cc), color-stop(100%,#2783ce));
	background: -webkit-linear-gradient(top,  #69b3f0 0%,#5cadef 24%,#50a4ea 38%,#389bec 57%,#3093e4 67%,#318dd8 76%,#2b90e2 81%,#2d89d4 86%,#2989d6 90%,#2d85cc 95%,#2783ce 100%);
	background: -o-linear-gradient(top,  #69b3f0 0%,#5cadef 24%,#50a4ea 38%,#389bec 57%,#3093e4 67%,#318dd8 76%,#2b90e2 81%,#2d89d4 86%,#2989d6 90%,#2d85cc 95%,#2783ce 100%);
	background: -ms-linear-gradient(top,  #69b3f0 0%,#5cadef 24%,#50a4ea 38%,#389bec 57%,#3093e4 67%,#318dd8 76%,#2b90e2 81%,#2d89d4 86%,#2989d6 90%,#2d85cc 95%,#2783ce 100%);
	background: linear-gradient(to bottom,  #69b3f0 0%,#5cadef 24%,#50a4ea 38%,#389bec 57%,#3093e4 67%,#318dd8 76%,#2b90e2 81%,#2d89d4 86%,#2989d6 90%,#2d85cc 95%,#2783ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b3f0', endColorstr='#2783ce',GradientType=0 );
}

.home-page-calculator .indent-select-calc {
	padding: 8px 0 6px 40px;
	background: transparent url("../images/selectmenu/cur-select-arrow.png") 87px 10px no-repeat !important;
	font-weight: 700;
	color: #7C8D8F;
	font-size: 16px;
}

.home-page-calculator .fee-font {
	color: #667B80;
	font-weight: 400;
	margin-top: -9px;
	display: block;
}

.home-page-calculator .partner-logo-img {
	max-width: 200px;
}

.home-page-calculator .partnership-title {
	font-weight: 700;
	margin-left: 16px;
	margin-top: 4px;
}

.home-page-calculator .arrow-down {
	margin: 6px auto 0 auto;
	display: block;
	width: 16px;
}

.other-cur-option .ui-selectmenu-status {
	font-size: 14px;
	padding-top: 8px;
}

.map {
	overflow: visible !important;
}

.map .left-block {
	width: 500px !important;
}

.map .right-block {
	width: 345px !important;
}

.new-calculator-padding {
	padding-top: 65px;
}

.skype-paypal-badge,
.trust-pilot-badge {
	bottom: 85px;
}

/*Tablet*/
@media screen and (max-width: 960px) and (min-width: 768px) {

	.new-calculator-padding {
		padding-top: 60px;
	}

	.skype-paypal-badge {
		bottom: 45px;
	}

}

/*Mobile*/
@media screen and (max-width: 767px) and (min-width: 50px) {

	.new-calculator-padding {
		padding-top: 0;
	}

	.skype-paypal-badge,
	.trust-pilot-badge {
		bottom: 45px;
	}

}




