@charset "UTF-8";
.map {
	width: 100%;
	position: relative;
	background: -webkit-radial-gradient(center center, circle farthest-corner, #F7FFFF 25%, #E3F2F0 70%, #B5CCC8) #BCD2CE;
	background: -moz-radial-gradient(center center, circle farthest-corner, #F7FFFF 25%, #E3F2F0 70%, #B5CCC8) #BCD2CE;
	background: -o-radial-gradient(center center, ellipse farthest-corner, #E3F2F0 50%, #E3F2F0 50%, #B5CCC8 100%) #BCD2CE;
	background: -ms-radial-gradient(center center, ellipse farthest-corner, #E3F2F0 50%, #E3F2F0 50%, #B5CCC8 100%) #BCD2CE;
}

.map .left-block, .map .tab2 .left-block {
    padding: 0px 0px 90px 8px;
	width: 450px;
	float: left;
}

.map .right-block, .map .tab2 .right-block {
	width: 463px;
	float: right;
}

.map .left-block h1 {
	font-size: 60px;
	line-height: 60px;
	text-shadow: 0px 3px rgba(255, 255, 255, 1);
	padding-top: 48px;
}

.map .left-block h1.italian-header {
	font-size: 45px;
}

.map .left-block .country-page-subhead {
	font-size: 18px;
	line-height: 21px;
}

.map .left-block h1.fb-header {
	font-size: 46px;
	line-height: 46px;
}

.map .left-block h1.fb-header-small {
	font-size: 43px;
	line-height: 43px;
}

.map .left-block h2 {
	text-shadow: 0px 3px rgba(255, 255, 255, 1);
	padding-top: 5px;
	color: #172A33;
}

.map .left-block p.fb-p {
	margin-bottom: 10px;
}

.map .left-block .info {
    color: #D97F3E;
}

.map .left-block p.info {
    margin-bottom: 0px;
}

.map .left-block p, .map .right-block p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
	padding-right: 15px;
	text-shadow: 0px 2px 0px white,
		10px 0px 30px rgba(255, 255, 255, 0.5),
		0px 10px 30px rgba(255, 255, 255, 0.5),
		-10px 0px 30px rgba(255, 255, 255, 0.5),
		0px -10px 30px rgba(255, 255, 255, 0.5);
}

.panel.form-cur-exch {
	margin: 42px 0px 50px 0px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);
	padding: 0px;
    background-image: url('../images/index/calc_bg.png');
}

.body {
    overflow: hidden;
	background: #F9FAFA;
	background: -moz-linear-gradient(#FFFFFF 50%, #E4ECEC);
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#FFFFFF), to(#E4ECEC));
    color: #172A33;
    font-weight: 500;
}

.body h2 {
	font-size: 30px;
	color: #224559;
    font-weight: 600;
	padding-top: 40px; 
	width: 100%;
}

hr.small  {
	height: 5px;
	background-color: #EFF2F2;
	border: 0;
}

.body hr {
    background-color: #EFF2F2;
}

.green {
    color: #8FB238;
}
                            
.block {
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #354959;

}

.block.text-left .text {
    width: 48%;
    float: left;
}
                            
.block.text-left .image {
    min-height: 300px;
    float: right;
}                            
                            
.block .text {
    width: 48%;
    float: right;
}
                            
.block .image  {
    min-height: 300px;
    width: 48%;
    float: left;
}                            

.bottom-50 {
    top: -50px;
}

.bottom-70 {
    top: -70px;
}

.saving {
	width: 100%; 
	font-size: 20px;
    font-weight: 400;
	color: #224559;
	text-align: center;
}

.saving .b {
	font-weight: 600;
}

.make-transferwise {
	width: 100%; 
	font-size: 14px;
	color: #667d7f;
	text-align: center; 
	padding: 20px 0 78px 0;
}

.social {
	overflow: hidden;
	font-weight: 500;
	line-height: 16px;
	font-size: 18px;
}

.social h4 {
	color: #224559;
	font-weight: 600;
	font-size: 30px;
	padding-top: 43px;
}

.social p {
	font-size: 16px;
	line-height: 20px;
	color: #7D9293;  
	padding: 4px 0 17px 0;
}

.social .left {
	width: 48%;
	float: left;
}

.social .right {
	width: 48%; 
	float: right;
}

.social .right p {
	margin: 0px;
}

.like {
	height: 50%; 
	float: right; 
	width: 90%;
}

.like .title {
	font-size: 12px;
	color: #000;
}

.count-people {
	font-size: 12px;
	color: #000; 
	clear: both; 
	padding: 5px 0;
}

.people {
	float:left; 
	padding: 0 2px;
}

.people .name {
	vertical-align: bottom; 
	text-align: center; 
	font-size: 11px;
	color: #C7CFDE;
}

.social .text {
	color: #7D9293;
}

.social .quote {
	color: #788E8F;
	line-height: 20px;
    font-style: italic;
    font-weight: 600;
	line-height: 30px;
	font-size: 23px;
}

.social .author {
	color: #788E8F;
    font-size: 18px;
}

.social .comms {
    position: relative;
    padding-top: 7px;
    padding-bottom: 10px;
    overflow: hidden;
	min-height: 100px;
}

.social .quote:after {
	content: ",,";
    font-style: normal;
    font-weight: 500;
	position: absolute;
    letter-spacing: -30px;
	left: 320px;
    top: -39px;
	font-size: 320px;
	line-height: 0px;
	color: #B7B7B7;
    opacity: 0.2;
    padding: 0;
    margin: 0;
    filter: alpha(Opacity=20);
}

.social .partners {
	text-align: center; 
}

.social .partners a {
    text-decoration: none;
}

.social .partners a img {
    padding: 4px 20px;
}

.map-text {
	position: relative;
	z-index: 100;
}

.form-cur-exch .head-color {
	color: #667d80;
}

.form-cur-exch .results td {
    padding: 2px 0;
	vertical-align: middle;
}

.form-cur-exch .source, .form-cur-exch .target {
	width: 200px;
	float: left;
	color: #8DA4A6;
	font-weight: 500;
}

.form-cur-exch .source label, .form-cur-exch .target label {
	display: block;
}

.results .col-3 .tw-total-saving {
    color: #4c5c66;
}
.form-cur-exch .results td.vtop {
	vertical-align: top;
}

.form-cur-exch .title {
   color: #8DA4A6;
}

.form-cur-exch .note a, .form-cur-exch .note {
	font-size: 12px;
    line-height: 12px;
    padding-bottom: 3px;
	color: #8DA4A6;
}

.form-cur-exch .note a.notu {
	text-decoration: none;
}

.form-cur-exch .head {
	color: #667D7F;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 15px 0 8px 0;
    margin: 0 16px;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 2px solid #dae6e6;
}

.form-cur-exch .head .partnership-title {
	float: left;
	width: 170px;
	margin-top: 5px;
}

.form-cur-exch .head .partnership-image {
	height: 34px;
}

.form-cur-exch .currency {
    border-top: 2px solid #fff;
    margin: 0px 18px;
}

.form-cur-exch .payment {
    float: left;
    width: 100px;
    font-weight: 400;
    font-size: 15px;
    margin: 19px 0;
    color: #8DA4A6;
}

.form-cur-exch .amount-cur-selector {
    padding-top: 8px;
	position: relative;
}

.form-cur-exch table tr {
    height: 36px;
}

.form-cur-exch .col-1 {
    width: 93px;
    border-bottom: 1px solid #dae6e6;
    border-top: 1px solid #fff;
    color: #8da4a6;
    vertical-align: top;
    text-align: left;
    font-size: 15px;
    background-color: transparent;
    font-weight: 500;
	padding-top: 11px;
    padding-bottom: 5px;
}

.form-cur-exch .col-1-on-top {
    vertical-align: top !important;
    padding-top: 9px !important;
}

.form-cur-exch .col-1 .show-service-cost-details {
	color: #8DA4A6;
	background:  transparent url("../images/index/payment-details-arrow.png") 100% 50% no-repeat;
	padding-right: 15px;
}

.form-cur-exch .col-1 .show-service-cost-details.opened {
	background:  transparent url("../images/index/payment-details-arrow-opened.png") 100% 50% no-repeat;
}

.form-cur-exch .make {
	color: #8B9D9F;
    border-top: 1px solid #FFFFFF;
    font-size: 15px;
	overflow: hidden;
	padding-bottom: 15px;
    padding-top: 12px;
}

.form-cur-exch .make a {
	color: #8B9D9F;
}

.form-cur-exch .make span {
	margin-top: 10px;
	margin-right: 20px;
}

.form-cur-exch .make span.vtop {
    margin-top: 0px;
}
.form-cur-exch .make span strong {
    font-weight: 800;
}
.form-cur-exch .make span.green {
    color: #709D00;
    letter-spacing: 0.3px;
    padding-bottom: 5px;
    background: transparent url("../images/index/free_transfer_mark.png") 0 100% no-repeat;
}

.form-cur-exch .make input {
	float: right;
	margin-left: 7px;
	margin-right: 0px;
}

.form-cur-exch .number, .form-cur-exch .big-number, .form-cur-exch .bigest-number {
	color: #667D80;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.form-cur-exch .big-number {
    font-weight: 400;
	font-size: 16px;
}

.form-cur-exch .bigest-number {
    font-weight: 600;
	font-size: 24px;
}

tbody tr:nth-child(even) td,
tbody tr.even td {
    background: none;
}

th,td,caption { 
    padding: 0px;
}

.col-2, .col-3 {
    width: 157px; 
    border-bottom: 1px solid #dae6e6;
    border-top: 1px solid #fff;
    text-align: right;
    font-size: 12px;
    background: transparent;    
}

.col-button {
    height: 70px;
    border-top: 1px solid #C7CFDE;        
}

.body .block {
    position: relative;
    top: 0px;
    left: 0px;
}

.body .block.step1:before,  .body .block.step2:before, .body .block.step3:before {
	position: absolute;
    line-height: 0px;
	top: 110px;
	left: 170px;
	font-size: 240px;
	color: #F2F5F5;
    font-weight: 500;
	z-index: 1;
}

.body .block.step1:before {
	content:"1";
}

.body .block.step2:before {
	content:"2";
	left: 635px;
}

.body .block.step3:before {
	content:"3";
}
.body .block .text {
	position: relative;
	z-index: 2;
}

.calculation-details {
	position: relative;
}
.calculation-details .stub {
	height: 220px;
}
.simple .calculation-details .stub {
	height: 110px;
}
.service-cost-details {
	padding-top: 10px;
	color: #8B9D9F;
	border-bottom: 1px solid #C7CFDE;
	margin: 0 0 10px 15px;
}
.service-cost-details table tr {
	height: auto;
}
.service-cost-details .title {
	width: 81px;
    font-size: 12px;
	text-align: right;
}
.service-cost-details .number {
	text-align: right;
}

.shadow-text {
	text-shadow: 0px 2px rgba(255, 255, 255, 1);
}

.map-text .text {
    padding: 30px 50px 0 30px;
}

.tab-switcher {
	position: absolute;
	padding-left: 7px;
	bottom: 30px;
	left: 0px;
}

.map-text.tab2 {
	height: 492px;
}

.tab2-make span {
    text-shadow: 0 2px rgba(255, 255, 255, 0.8);
    color: #8B9D9F;
    display: block;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}

.map-text h1 {
    text-shadow: 0px 2px rgba(255, 255, 255, 1),
		0px 0px 30px rgba(255, 255, 255, 0.5),
		0px 0px 30px rgba(255, 255, 255, 0.5);
}
.fee-font{
	font-size: 12px;
	line-height: 12px;
	padding-bottom: 3px;
	color: #8DA4A6;
}

.how-to-text{
	font-size: 20px;
	font-weight: 500;
}

.h475{
	height: 475px;
}

.map .feedback-tab {
    background:transparent url(../images/feedback/feedback_orange.png) no-repeat scroll 0 0;
	display:block;
	height:170px;
	left:-2px;
	position:fixed;
	float:left;
	text-indent:-9999px;
	width:50px;
	outline:none;
	top:35%;
}

.map .feedback-tab:hover {
	left:0px;
}

.map #feedback-content {
	overflow: hidden;
}

.small-description {
	font-size: 11px;
	color: gray;
}

.terms-and-cond ul {
	margin-left: 20px;
}

.terms-and-cond ul li {
	color: #354959;
	list-style: disc;
}

.terms-and-cond table.example-table {
	font-size:15px;
	border-width: 1px;
	border-color: #B6C3C4;
	border-collapse: collapse;
}

.terms-and-cond table.example-table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #B6C3C4;
	text-align: center;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.terms-and-cond table.example-table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #B6C3C4;
	vertical-align: middle;
	text-align: center;
}

.terms-and-cond table.example-table .side-head {
	text-align: left;
	width: 140px;
}

.terms-and-cond .example-table th:first-of-type {
	border-top: 0px;
	border-left: 0px;
	background: none;
}

.terms-and-cond .title {
	font-size: 28px;
	line-height: 30px;
}

.slides li {
	display: inline-block;
}

.flex-direction-nav {
	display: none;
}

.home-media .watch-video {
	display: block;
	background: url("../images/index/watch_video_btns.png") -169px 0 no-repeat;
	height: 17px;
	width: 116px;
	font-size: 12px;
	padding: 11px 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -74px;
	cursor: pointer;
}

.home-media .watch-video:hover {
	background-position: 0 0;
}

.home-media .quotes,
.home-media .how-it-works,
.trustpilot,
.home-media .saving {
	border-top: 1px solid #DFDFDF;
	font-size: 16px;
	color: #25566F;
	margin-bottom: 40px;
}

.home-media .saving {
	margin-bottom: 30px;
	padding-top: 36px;
}

.home-media .saving .wrap-text {
	margin: 0 auto;
	width: 75%;
}

.home-media .move-left {
	float: left;
}

.home-media .links-block {
	font-weight: 400;
	color: #13546e;
	border-top: 1px solid #DFDFDF;
	font-size: 13px;
}

.home-media .links-block .column {
	width: 280px;
	float: left;
	padding: 35px 20px;
	position: relative;
}

.home-media .links-block .study {
	text-align: left;
}

.home-media .links-block .startups {
	text-align: center;
}

.home-media .links-block .hiring {
	text-align: right;
}

.home-media .links-block .link-pic {
	background: url("../images/index/tw_linking_sprite.png") no-repeat;
	position: absolute;
	width: 57px;
	height: 57px;
	top: -29px;
}

.home-media .links-block .study .link-pic {
	background-position: -5px -5px;
	left: 85px;
}

.home-media .links-block .startups .link-pic {
	background-position: -101px -5px;
	left: 50%;
	margin-left: -27px;
}

.home-media .links-block .hiring .link-pic {
	background-position: -198px -5px;
	right: 85px;
}

.home-media .link-button {
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	vertical-align: baseline;
	padding: 10px 20px;
	font-weight: 700;
	background: #cfe3e6;
	color: #13546e;
	display: inline-block;
}

.home-media .link-button:hover {
	background: none;
}

.home-media .move-right img {
	margin-top: -15px;
}

.home-media .media {
	padding-bottom: 50px;
}

.home-media .video-embed {
	padding: 7px 7px 0 7px;
	margin-right: 5px;
	border-radius: 5px;
	background-color: #EFF2F2;
	position: relative;
}

.home-media .video-shot {
	max-width: 100%;
	width: 406px;
	height: 228px;
	cursor:	pointer;
}

.home-media .stories .slides li {
	display: inline;
}

.home-media .stories .text {
	text-align: right;
	padding-left: 10px;
	float: left;
}

.home-media .stories h4 {
	color: #25566F;
	font-size: 18px;
}

.home-media .quotes h4,
.home-media .how-it-works h4,
.trustpilot h4 {
	padding-bottom: 30px;
    padding-top: 15px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #91A4A6;
}

.home-media .quotes .quote {
	font-size: 37px;
	line-height: 40px;
	margin: 0;
	color: #25566F;
	font-weight: 700;
	min-height: 94px;
	text-align: center;
}

.home-media .quotes .quote span.symbol {
	font-style: italic;
	color: #C6DBC5;
	font-size: 47px;
	padding: 0 10px;
	position: relative;
	top: 5px;
}

.home-media .quotes .author {
	font-size: 16px;
	color: #25566F;
	text-align: center;
}

.home-media .stories .text p {
	color: #6A7C7F;
	font-size: 13px;
	line-height: 18px;
}

.home-media a.button.stories,
.trustpilot a.button.all-reviews {
	border: 1px solid #B1C0C1;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #757877;
	background-color: #F4F7F7;
	font-size: 12px;
	opacity: 0.65;
	padding: 7px 25px 6px 25px;
	text-shadow: 0 2px #FFFFFF;
}

.home-media a.button.stories:hover,
.trustpilot a.button.all-reviews:hover {
	background-color: #ffffff;
}

.trustpilot .wrap-button {
	padding: 5px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	min-width: 150px;
	margin-left: -86px;
	top: -16px;
}

.home-media .customer {
	text-align: center;
	float: right;
	margin-top: -25px;
}

.home-media .customer img {
	width: 124px;
	height: 124px;
}

.home-media .customer .name {
	color: #6A7C7F;
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.home-media .customer .location {
	color: #A5A5A5;
	line-height: 16px;
	font-size: 12px;
	margin: 0 auto;
	width: 126px;
}

.home-media .partners {
	margin: 0 auto;
	padding-bottom: 30px;
	width: 772px;
}

.home-media .partners li {
	float: left;
}

.home-media .partners li a {
	display: block;
	height: 24px;
	background: url('../images/index/logos/logos_sprite.png') no-repeat;
}

.home-media .partners li a.active {
	border-bottom: 2px solid #DFDFDF;
}

.home-media .partners li a.featuredFt {
	background-position: 0 -47px;
	width: 159px;
}

.home-media .partners li a.wired {
	background-position: -168px -47px;
	width: 83px;
	margin-left: 20px;
	margin-right: 22px;
}

.home-media .partners li a.theguardian {
	background-position: -262px -47px;
	width: 115px;
	margin-right: 25px;
}

.home-media .partners li a.bbc {
	background-position: -391px -47px;
	width: 61px;
	margin-right: 20px;
}

.home-media .partners li a.newYorkTimes {
	background-position: -651px -47px;
	width: 147px;
}

.home-media .partners li a.theEconomist {
	background-position: -807px -47px;
	width: 96px;
	margin-right: 23px;
}

.home-media .how-it-works .flexslider-hiw .slides img {
	padding-bottom: 20px;
	width: 131px;
	height: 72px;
}

.home-media .how-it-works .flexslider-hiw .slides li {
	font-size: 13px;
	color: #25566F;
	float: left;
	margin: 0 1.5%;
	text-align: center;
}

.home-media .saving .make-transferwise {
	padding-bottom: 10px;
	font-size: 13px;
	color: #91A4A6;
}

.home-media .saving a.iframe.youtube {
	color: #91A4A6;
	font-weight: 700;
}

.trustpilot {
	color: #667D7F;
	font-size: 14px;
	text-align: center;
}

.trustpilot .container {
	font-size: 13px;
	color: #91A4A6;
}

.trustpilot h4 {
	padding-bottom: 0;
	margin: 0 10px 0 0;
}

.trustpilot .blocks li {
	float: left;
	margin: 0 1.5%;
}

.trustpilot .blocks {
    margin-bottom: 40px;
}

.trustpilot .blocks li,
.trustpilot .blocks li .author {
	color: #808080;
	font-size: 12px;
	line-height: 14px;
    text-align: justify;
}

.trustpilot .blocks .author {
	padding-top: 5px;
	font-weight: 600;
}

.trustpilot .blocks h4 {
	padding: 10px 0 5px 0;
	color: #25566F;
	margin: 0;
    min-height: 45px;
}

.trustpilot .blocks .wrap-stars,
.trustpilot .blocks .wrap-stars .progress-stars {
	background: url('../images/index/stars_sprite.png') 0 -16px no-repeat;
	height: 16px;
	width: 85px;
	margin: 0 auto;
}

.trustpilot .blocks .wrap-stars .progress-stars {
	background-position: 0 0;
	margin: 0;
}

.trustpilot .blocks h4 a {
	text-decoration: none;
}

.trustpilot .reviews li:before {
	content: "";
	background: url('../images/index/trustpilot_params_sprite.png') no-repeat;
	padding-left: 20px;
}

.trustpilot .reviews li.customer:before {
	background-position: 0 3px;
}

.trustpilot .reviews li.trustscore:before {
	background-position: 0 -25px;
}

.trustpilot .reviews li.rating:before {
	background-position: 0 -52px;
}

.trustpilot .reviews li.customer {
	text-align: right;
}

.trustpilot .reviews li.customer .value {
	margin-right: 20px;
}

.trustpilot .reviews li.trustscore {
	text-align: center;
}

.trustpilot .reviews li.rating {
	text-align: left;
}

.trustpilot .reviews {
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	padding: 10px 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: #25566F;
}

.trustpilot .reviews li {
	display: inline-block;
	margin: 15px 10px 25px;
    width: 30%;
}

.trustpilot .reviews li .value {
	color: #91A4A6;
	padding-left: 10px;
	font-size: 23px;
	font-weight: 700;
}

.trustpilot .reviews li .max-value {
	color: #B9CBCD;
	font-size: 15px;
}

.trustpilot .wrap-reviews {
	position: relative;
}

.trustpilot .flexslider-trustpilot .slides li.clear,
.home-media .how-it-works .flexslider-hiw .slides li.clear {
	float: none;
}

.home-media .flexslider-stories .slides li {
	padding-top: 30px;
}

.home-media .flexslider-stories,
.home-media .flexslider-hiw,
.home-media .flexslider,
.trustpilot .flexslider-trustpilot {
	position: relative;
}

.home-media .flexslider-stories .flex-control-nav {
	position: absolute;
	top: 0;
	right: 32%;
	margin: 7px 0 0;
	text-align: center;
}

.home-media .flexslider-stories .flex-control-nav li {
	display: inline;
	margin: 0 3px;
	cursor: pointer;
}

.home-media .flexslider-stories  .flex-control-nav li a {
	background-color: #EBEBEB;
	border-radius: 6px;
	display: inline-block;
	height: 0;
	overflow: hidden;
	padding-top: 8px;
	text-align: center;
	width: 8px;
}

.home-media .flexslider-stories .flex-control-nav li a:after {
	border-radius: 6px;
	content: "";
	display: inline-block;
	height: 0;
	margin-top: 8px;
	overflow: hidden;
	padding-top: 8px;
	width: 8px;
}

.home-media .flexslider-stories .flex-control-nav li:hover a,
.home-media .flexslider-stories .flex-control-nav li a.flex-active {
	background-color: #B8B8B8;
	border: 1px solid #ADADAD;
	padding-top: 6px;
	width: 6px;
}

.flexslider-hiw li.col25 {
    text-align: justify;
}

.home-media .wrap-hiw h3,
.home-media .wrap-hiw .media-img {
    text-align: center;
}

.home-media .make-transferwise .text {
    margin: 0 0 0 -5px;
}

.home-media .submitCalculatorForm {
    margin: 0 10px;
}

.home-media-fb .container.fb h4  {
    text-align: center;
}

.home-media-fb .social p {
	text-align: center;
}

.italian-chamber-info {
	color: #6A7C7F;
	padding: 20px 0 20px 0;
	font-size: 14px;
}

.italian-chamber-info .blue-heading {
	color: #25566F;
	font-weight: 700;
	font-size: 25px;
}

.italian-chamber-info .first-col {
	width: 290px;
	float: left;
	padding-right: 10px;
}

.italian-chamber-info .second-col {
	width: 300px;
	float: left;
}

.italian-chamber-info .second-col a {
	font-style: italic;
	color: #6A7C7F;
}

.italian-chamber-info .third-col {
	width: 360px;
	float: left;
	background: url('../images/index/ita_logo.png') no-repeat;
	background-position: 30px 5px;
	height: 100px;
}

p.italian-subtext {
	margin-bottom: 0;
}

.testimonials-wide {
	padding-top: 30px;
	padding-bottom: 30px;
}

.testimonials-wide .col {
	width: 29.3333%;
	float: left;
	padding: 0 2%;
}

.testimonials-wide .slides .col img {
	width: 124px;
	height: 124px;
}

.testimonials-wide .name {
	color: #6A7C7F;
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.testimonials-wide .location {
	color: #A5A5A5;
	line-height: 16px;
	font-size: 12px;
	margin: 0;
}

.testimonials-wide .quote {
	font-size: 18px;
	font-weight: 600;
	color: #91A4A6;
	font-style: italic;
}

.charts-video {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #DFDFDF;
}

.charts-video .comparison-block h3 {
	color: #224559;
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	padding-bottom: 5px;
}

.charts-video .comparison-block .text {
	text-align: left;
	font-weight: 400;
	font-size: 14px;
	padding-top: 5px;
	margin: 0;
}

.charts-video .comparison-block .statistic-wrap {
	width: 90%;
}

.charts-video .comparison-block .statistic-wrap .left {
	border-bottom: 1px solid #DFDFDF;
}

.charts-video .comparison-block .statistic-wrap .right {
	/*background-color: #E6EFF2;*/
	/*border-bottom: 1px solid #DFDFDF;*/
}

.charts-video .comparison-block .statistic-wrap .right .title,
.charts-video .comparison-block .statistic-wrap .right .amount {
	color: #8DA4A6;
	border-bottom: 1px solid #DFDFDF;
	padding-left: 10px;
	width: 110px;
}

.charts-video .comparison-block .statistic-wrap .right .amount li {
	font-size: 13px;
	color: #A5A5A5;
	font-weight: 600;
	padding-top: 11px;
}

.charts-video .comparison-block .statistic-wrap .right .amount li:first-child {
	font-size: 16px;
	color: #A5A5A5;
	padding-top: 7px;
	font-weight: 600;
}

.charts-video .comparison-block .chart-amount li {
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
	padding-top: 12px;
	padding-left: 0;
	width: 140px;
}

.charts-video .comparison-block .chart-amount li:first-child {
	color: #A5A5A5;
	padding-top: 11px;
}

/*.charts-video .comparison-block .chart-amount li:last-child {*/
	/*padding-top: 13px;*/
/*}*/

.charts-video .comparison-block .statistic-wrap .title {
	color: #8DA4A6;
	font-size: 14px;
	padding: 10px 0 8px 10px;
	border-bottom: 1px solid #DFDFDF;
	background-color: #E6EFF2;
}

.charts-video .comparison-block .statistic-wrap .progress {
	background: url("../images/index/business/country_empty_chart.png") 0 5px no-repeat;
	width: 286px;
	height: 130px;
}

.charts-video .comparison-block .statistic-wrap .amount {
	height: 130px;
}

.charts-video .comparison-block .statistic-wrap .progress,
.charts-video .comparison-block .statistic-wrap .amount {
	padding: 5px 0;
}

.charts-video .comparison-block .note {
	margin: 0;
	color: #A5A5A5;
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}

.charts-video .chart-col {
	width: 55%;
	float: left;
}

.charts-video .video-col {
	width: 45%;
	float: left;
}
.dynamic-map-holder {
	position: relative;
	margin:  0px auto;
	width: 950px;
	left: -180px;
	z-index: 10;
	top: 0px;
}

.map-background {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent url('../images/index/map_transperent.png') 50% 0 no-repeat;
	opacity: 0.35;
	filter: alpha(Opacity=35);
	width: 100%;
	height: 100%;
}

.balls-background {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent url('../images/landing/frenchLanding/balls_background.png') 35% 0 no-repeat;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}

.map-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
}

.capitals {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 130%;
	margin-left: -170px;
	height: 100%;
	opacity: 0.2;
}

.map .container {
    width: 960px;
}


div.marker {
	position: absolute;
	background: transparent url('../images/map/payment_marker_right.png') no-repeat scroll top right;
	display: block;
	float: left;
	height: 60px;
	margin-right: 6px;
	padding-right: 29px;
	color: #333333;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 11px;
	min-width: 87px;
}

div.marker div.left-wrapper {
	background: transparent url('../images/map/payment_marker_left.png') no-repeat;
	display: block;
	height: 60px;
	padding: 5px;
}

div.marker div.left-wrapper .flag {
	background-image: url("../images/flags-16x16.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	display: block;
	margin: 0 3px 0 8px;
	text-indent: 9999px;
	overflow: hidden;
}

div.marker div.left-wrapper .text {
	color: #333333;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 11px;
	float: left;
}

div.marker div.left-wrapper .time {
	color: #666666;
	font-family: Helvetica;
	clear: both;
	text-align: center;
	font-size: 9px;
	line-height: 9px;
}
.amount-cur-selector input.cur-input {
	width: 88px;
	height: 38px;
	border: 1px solid #C7CFDE;
	background-color: #fff;
	padding: 0 12px;
	text-align: right;
	font-weight: 500;
	font-size: 20px;
	color: #172A33;
	display: block;
	float: left;
}

.amount-cur-selector input.disabled {
    color: #8DA4A6;
    background-color: #F2F5F5;
}

.amount-cur-selector .cur {
	width: 82px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-right: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	float: left;
	background: transparent url('../images/selectmenu/cur-dd-bg.png') 0 0 repeat-x;
}

.amount-cur-selector .cur-exchange {
	float: left;
	width: 34px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	background: transparent url('../images/selectmenu/cur-dd-bg.png') 0 0 repeat-x;
}
.amount-cur-selector.arrow {
	float: left;
	width: 26px;
	height: 40px;
	margin-top: 25px;
}
.amount-cur-selector.arrow a {
	height: 100%;
	display: block;
	background: transparent url('../images/index/exch-arrow.png') 50% 50% no-repeat;
	text-decoration: none;
}


.amount-cur-selector.one-arrow {
	float: left;
	width: 24px;
	height: 40px;
	margin-top: 25px;
	margin-right: 3px;
}
.amount-cur-selector.one-arrow a {
	height: 104px;
	margin-top: -39px;
	display: block;
	background: transparent url('../images/index/one-way-arrow.png') 50% 50% no-repeat;
	text-decoration: none;
}

.amount-cur-selector .fix-type-selector {
	position: absolute;
	top: 7px;
	right: 0px;
}

.hr-add-campaign-page {
	height: 0px !important;
	border-top: 2px solid #DAE6E6 !important;
	margin-top: 22px !important;
}

.indent-select-calc {
	display: block !important;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	height: 38px !important;
	border: 0 !important;
	border-radius: 0;
	width: 135% !important;
	padding: 10px 0 10px 5px;

	background: transparent url("../images/selectmenu/cur-select-arrow.png") 57px 8px no-repeat !important;
}

.currency .amount-cur-selector .cur {
	overflow-x: hidden;
	height: 38px !important;
}
.skype-paypal-links {
	text-decoration: none;
}

.skypal-container {
	position: absolute;
	bottom: 85px;
	left: 8px;
}

.skype-paypal-badge {
	padding-left: 15px;
	text-transform: uppercase;
	width: 400px;
	height: 40px;
	background: url("../images/index/skype-paypal-badges/bg.png") 0 0 repeat-x;
	border-radius: 7px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);
	color: #172A33;
	text-shadow: 0px 2px 0px white, 10px 0px 30px rgba(255, 255, 255, 0.5), 0px 10px 30px rgba(255, 255, 255, 0.5), -10px 0px 30px rgba(255, 255, 255, 0.5), 0px -10px 30px rgba(255, 255, 255, 0.5);
}

.skype-paypal-badge .from-text {
	float: left;
	margin-right: 15px;
	margin-top: 9px;
}

.skype-paypal-badge .skype-logo {
	margin-top: 8px;
	margin-right: 12px;
	float: left;
	width: 61px;
	height: 29px;
}

.skype-paypal-badge .paypal-logo {
	margin-top: 12px;
	width: 64px;
	height: 20px;
}

/*tablet*/
@media screen and (max-width: 960px) and (min-width: 768px) {

	.skypal-container {
		left: 2%;
		bottom: 35px;
	}

	.skype-paypal-badge {
		width: 225px;
		height: 75px;
		background: url("../images/index/skype-paypal-badges/bg-high.png") 0 0 repeat-x;
	}

	.skype-paypal-badge .skype-logo {
		margin-left: 20px;
	}
}

/*mobile*/
@media screen and (max-width: 767px) and (min-width: 50px) {

	.skypal-container {
		bottom: 10px;
		left: 50%;
	}

	.skype-paypal-badge {
		z-index: 111;
		background: none;
		box-shadow: none;
		width: 240px;
		margin-left: -120px;
	}

	.skype-paypal-badge .skype-logo {
		margin-left: 20px;
	}
}


