@charset "UTF-8";
.header {
	height: 63px;
	background-color: #172A34;
	border-bottom: 5px solid #829199;
	background: -moz-linear-gradient(top, #224559, #172A33);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#224559), to(#172A33));
}

.header .lang {
	float: right;
	margin-top: 27px;
	position: relative;
	padding-left: 5px;
}

.header .lang a.choose-link {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.header .arrow-down-lan {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #6b8c99;
	margin-left: 3px;
	margin-top: 1px;
	cursor: pointer;
}

.header .arrow-up-lan {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #163040;
}

.header .lang .language-list-ul {
	width: 70px;
	border: none;
	border-radius: 5px;
	background: #163040;
	color: #516D7A;
	overflow: hidden;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 1111111111;
	display: none;
}

.header .lang .language-list-ul li a {
	display: inline-block;
	color: #516D7A;
	font-weight: 600;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	width: 60px;
	padding-left: 10px;
}

.header .lang .language-list-ul li a:hover {
	background: #1B4254;
	border-radius: 5px;
}

.header .lang .flag {
	background: transparent url(../images/flags-16x16.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	padding-right: 10px;
	float: left;
	margin-top: 3px;
}

.header .lang .language-text {
}

.lang .flag.GB {
	background-position: 0px -1168px;
}

.lang .flag.RU {
	background-position: 0px -2928px;
}

.lang .flag.DE {
	background-position: 0px -848px;
}

.lang .flag.PL {
	background-position: 0px -2736px;
}

.lang .flag.FR {
	background-position: 0px -1136px;
}

.lang .flag.ES {
	background-position: 0px -1024px;
}

.lang .flag.IT {
	background-position: 0px -1664px
}

.header .sep {
    float: left;
    background-image: url("../images/layout/sep.png");
    height: 27px;
    width: 2px;
    margin: 20px 10px;
}

.header .login {
	float: right;
	padding-top: 23px;
	height: 35px;
}

.header .login .link,
.header .login span {
	font-size: 14px;
    font-weight: 700;
	color: #A0B8BF;
    text-decoration: none;
}

.header .login .name-fixed-width {
	max-width: 117px;
	display: inline-block;
	height: 12px;
	line-height: 18px;
}

.header .login span {
    color: #728C99;
}

.header .login .link {
	font-weight: 700;
}

.header .logo a {
	margin-top: 18px;
    width: 192px;
    height: 30px;
    background: transparent url("../images/layout/logo.png") 2px 2px no-repeat;
	float: left;
}

.header .logo .addCampaignLogo {
	margin-top: 18px;
	width: 192px;
	height: 30px;
	background: transparent url("../images/layout/logo.png") 2px 2px no-repeat;
	float: left;
}


.header .logo h3 {
	font-size: 24px;
    font-weight: 500;
}

.header .logo a {
    text-decoration: none;
}


.header .logo img {
	display: block;
	float: left;
}

.header .logo h3 {
	color: #fff;
	display: block;
	padding-left: 40px;
    margin: 0px 0px 5px 0px;
}

.header .nav {
	list-style-type: none;
    font-weight: 600;
    letter-spacing: 0.05px;
    margin: 0px;
}

.header .nav li {
    float: left;
    line-height: 72px;
}

.header .nav .active, .nav a:hover {
    color: #fff;
    border-bottom: 5px solid #D97F3E;
}

.header .nav li a, .nav .empty {
	background: transparent url('../images/layout/sep.png') 0 24px no-repeat;
	color: #728c99;
	padding: 0px 9px 0px 12px;
	height: 63px;
	display: block;
	text-decoration: none;
	font-size: 16px;
}

.header .nav .empty {
	padding: 2px 2px 0px 12px;
}

.header .top-menu-line {
	height: 6px;
	width: 100%;
	clear: both;
}

.header .top-language {
	width: 100px;
}

.header .nav-menu-button {
	display: none;
}

.header .nav-menu-button a {
	background: url("../images/responsive/menu_button.png") 0 0 no-repeat;
	display: block;
	width: 34px;
	height: 29px;
}

.footer .image {
    background: url("../images/layout/columns.png")  no-repeat 0 100%;
}

.footer .container {
	border-top: 6px solid #D97F3E;
	position: relative;
	top: -6px;
}

.footer {
	width: 100%;
	background-color: #172A34;
    background: -moz-linear-gradient(top, #224559, #172A33);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#224559), to(#172A33));
    font-weight: 500;
    border-top: 6px solid #829199;
}

.footer .column {
	width: 210px;
	float: left;
	margin-right: 30px;
}

.footer .column-last {
	width: 215px;
	float: left;
}

.footer .footer-title {
	padding-top: 20px;
    font-size: 14px;
    font-weight: 700;
	height: 28px;
	border-bottom: 1px solid #172A33;
	color: #fff;
}


.footer .column .items, .footer .column-last .items {
	border-top: 1px solid #4C5C66;
	font-size: 13px;
	padding: 12px 0px;
    font-weight: 400;
    line-height: 20px;
	color: #728C99;
}

.footer .items p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    color: #728C99;
}

.footer .column ul, .footer .column-last ul {
	list-style-type: none;
}

.footer .column a, .footer .column-last a, .footer .copyright a, .footer li {
	color: #8DA4A6;
}

.footer .container.img {
    background: url('../images/layout/columns.png') no-repeat 0 100%;
}

.footer .line {
	width: 100%;
	border-top: 1px solid #172a33;
	border-bottom: 1px solid #4c5c66;
	clear: both;
}

.footer .copyright {
	display: block;
	font-size: 12px;
    line-height: 15px;
    color: #4C5C66;
	padding-top: 14px;
    margin: 0;
}

.footer .copyright a {
    color: #4c5c66;
}

.contact-us .icon {
	padding-left: 10px;
}

.contact-us .icon:before {
	content: '';
    background: url(../images/layout/help_support.png) no-repeat;
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 3px;
}

.contact-us .icon.mail:before {
    background-position: 0 0;
}

.contact-us .icon.phone:before {
    background-position: 0 -12px;
}

.contact-us .icon.fax:before {
	background-position: 0 -74px;
}

.contact-us .icon.twitter:before {
    background-position: 0 -44px;
}

.contact-us .icon.facebook:before {
    background-position: 0 -28px;
}

.contact-us .icon.gplus:before {
	background-position: 0 -59px;
}

.admin-header ul li {
	float: left;
	padding-right: 25px;
}

.navbar-body {
    padding-bottom: 40px;
    color: #333333;
    background-color: #2C2C2C;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.menu {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.menu > li > a {
  display: block;
}
.menu > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar .menu {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .menu.pull-right {
  float: right;
}
.navbar .menu > li {
  display: block;
  float: left;
}
.navbar .menu > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .menu > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .menu .active > a, .navbar .menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  overflow: visible;
  background-color: #2C2C2C;
  margin-bottom: 18px;
}

.navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}

.navbar-fixed-top .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.container-fluid {
  padding-left: 0;
  padding-right: 7px;
  *zoom: 1;
}

.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  background: #666;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.navbar-search .search-query :-moz-placeholder {
  color: #eeeeee;
}

.navbar-search .search-query::-webkit-input-placeholder {
  color: #eeeeee;
}

.navbar-search .search-query:hover {
  color: #ffffff;
  background-color: #999999;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}

.simple-footer .copyright, .simple-footer .copyright a {
	color: #BCCBCC;
	line-height: 14px;
	margin-top: -15px;
    font-size: 12px;
}

.simple-header {
    padding-top: 23px;
    height: 35px;
}

.simple-header .help {
    color: #A0B8BF;
    font-size: 14px;
    font-weight: 600;
}

.simple-header .links {
    color: #728C99;
    font-size: 14px;
}

.simple-header .links a.link {
    color: #728C99;
    font-size: 14px;
    font-weight: 600;
}


.menu-dashboard li {
    float: left;
    line-height: 72px;
}

.menu-dashboard a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #728C99;
    height: 63px;
    font-weight: 600;
    display: block;
}

.menu-dashboard a:visited, .menu-dashboard a:hover {
    color: #728C99;
}

.menu-dashboard a.active {
    color: #fff;
    border-bottom: 5px solid #D97F3E;
}

.menu-dashboard li {
    background: url("../images/layout/sep.png") 0 20px no-repeat;
}

.menu-dashboard li.no-sep {
    background: none;
}

.menu-dashboard li a span {
    height: 63px;
    width: 30px;
    display: block;
    float: left;
}

.menu-dashboard.right li:last-child a span {
	width: 13px;
}

.menu-dashboard.right li:last-child a {
	padding-right: 0px;
}

.menu-dashboard li a span.recipients {
    background: url("../images/payment/menu_recipients.png") 0 24px no-repeat;
}

.menu-dashboard li a span.invites {
    background: url("../images/payment/menu_invite.png") 0 24px no-repeat;
}

.menu-dashboard li a span.invites-pound {
	background: url("../images/payment/menu_pound.png") 0 24px no-repeat;
}

.menu-dashboard a span.security {
    background: url("../images/payment/menu_security.png") 0 24px no-repeat;
}

.menu-dashboard a span.security .logout {
	display: none;
}

.menu-dashboard a span.help {
    background: url("../images/payment/menu_help.png") 0 24px no-repeat;
}

.menu-dashboard a span.settings {
    background: url("../images/payment/menu_settings.png") 0 24px no-repeat;
}

.footer.dashboard {
    background: none #F8FCFC;
    border-top: none;
}

.footer.dashboard .container {
    border-top: none;
}

.footer.dashboard .footer-title {
    color: #728C99;
    border-bottom: none;
}

.footer.dashboard .column .items, .footer.dashboard .column-last .items {
    border-top: 1px solid #B6C3C4;
}

.footer.dashboard .items p {
    color: #B6C3C4;
}

.footer.dashboard .column a,
.footer.dashboard .column-last a,
.footer.dashboard .copyright a, .footer li {
    color: #B6C3C4;
}

.footer.dashboard .line {
    border-top: 1px solid #B6C3C4;
    border-bottom: none;
}

.footer.dashboard .copyright {
    color: #B6C3C4;
}

.footer.dashboard .copyright a {
    color: #B6C3C4;
}

hr.admin-delimiter {
    height: 2px;
    background: #E6B672;
    margin: 4px 0px;
}

.in-hide, .header .nav li .in-hide {
	display: none;
}

.block-mobile {
	display: none;
}

.block-tablet {
	display: none;
}

.block-desktop,
.block-desktop.block-tablet,
.block-desktop.block-mobile {
	display: block;
}

@media (min-width: 767px) {
	.nav.b {
		display: block !important;
	}

	.menu-dashboard.b {
		display: block !important;
	}

	.header-login.b {
		display: block !important;
	}
}

.header-business .logo a {
	width: 285px;
}

.header-business .business-link {
	padding-left: 185px;
	line-height: 38px;
	color: #728C99;
	font-weight: 600;
	font-style: italic;
}

.footer .countries-list-expandable {
	overflow: hidden;
	height: 100px;
}

.footer .see-countries {
	display: inline-block;
	margin-top: 5px;
	padding-right: 25px;
}

.footer .see-countries span {
	background: transparent url("../images/country-arrows.png") no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
	position: absolute;
}

.footer .see-countries.expand span {
	background-position: -2px 0;
}

.footer .see-countries.suspend span {
	background-position: -17px 0;
}
.field.left {
	float: left;
	margin-right: 10px;
}

.field label.noblock {
	display: inline;
}

.field input[type="radio"], .field input[type="checkbox"] {
	border: 0;
	width: auto;
}
.field {
	padding: 0 0 10px 0;
}

#IBAN, #refundIBAN {
	width: 271px;
}

#BIC, #refundBIC {
	width: 125px;
}

.box input.sortPart {
	width: 25px;
}

#accountNumber, #refundAccountNumber {
	margin-left: 30px;
	width: 235px;
}

.field .fx-date-picker input.day, .field .fx-date-picker input.month, .field .fx-date-picker input.year {
	width: 50px;
	text-align: center;
}

.field .fx-date-picker div.day, .field .fx-date-picker div.month {
	float: left;
	width: 68px;
	text-align: center;
}
.field .fx-date-picker div.year {
	float: left;
	width: 68px;
	text-align: center;
}
.field .fx-date-picker .delimiter {
	float: left;
	width: 5px;
	text-align: center;
}

.body.content_right .content {
	width: 500px;
	float: left;
}

.body.content_right .sidebar {
	width: 400px;
	float: right;
}
.sidebar a.button {
	text-decoration: none;
}

#email, #lastName, .countryCode, .countryCode, #city {
	width: 236px;
}
.panel #email, .panel #lastName, .panel #countryCode, .panel #city {
	width: 226px;
}

#password, #password2, #currentPassword, #firstName, #postCode {
	width: 160px;
}
.panel #password, .panel #password2, .panel #currentPassword, .panel #firstName, .panel #postCode {
	width: 155px;
}

.paymentReferencePrefix {
	margin-right: 10px;
}

#paymentReference {
	width: 50%;
}

.openid .button {
	border: 1px solid #CECECE;
	height: 46px;
	width: 45%;
	background-color: white;
}
.openid a.button {
    display: inline-block;
    height: 32px;
    padding: 8px 0px;
}
.dashboard .openid .button {
    width: 125px;
}

#googleOpenId {
	background: url("../images/google_button.gif") center no-repeat #fff;
	filter: none;
}

#yahooOpenId {
	background: url("../images/yahoo_button.gif") center no-repeat #fff;
	filter: none;
}

.submenu li {
	float: left;
	padding-right: 20px;
}

table.payment td {
	vertical-align: top;
}

table.payment td:first-child {
	width: 80px;
	margin-right: 0;
	padding-right: 0;
}

.waitingTransferBoxLeft .notTrusted {
	color: red;
}
.waitingTransferBoxLeft .trusted {
	color: green;
}

.flag.AD { background-position: 0px -0px }
.flag.AE { background-position: 0px -16px }
.flag.AF { background-position: 0px -32px }
.flag.AG { background-position: 0px -48px }
.flag.AI { background-position: 0px -64px }
.flag.AL { background-position: 0px -80px }
.flag.AM { background-position: 0px -96px }
.flag.AN { background-position: 0px -112px }
.flag.AO { background-position: 0px -128px }
.flag.AQ { background-position: 0px -144px }
.flag.AR { background-position: 0px -160px }
.flag.AS { background-position: 0px -176px }
.flag.AT { background-position: 0px -192px }
.flag.AU { background-position: 0px -208px }
.flag.AW { background-position: 0px -224px }
.flag.AZ { background-position: 0px -240px }
.flag.BA { background-position: 0px -256px }
.flag.BB { background-position: 0px -272px }
.flag.BD { background-position: 0px -288px }
.flag.BE { background-position: 0px -304px }
.flag.BF { background-position: 0px -320px }
.flag.BG { background-position: 0px -336px }
.flag.BH { background-position: 0px -352px }
.flag.BI { background-position: 0px -368px }
.flag.BJ { background-position: 0px -384px }
.flag.BM { background-position: 0px -400px }
.flag.BN { background-position: 0px -416px }
.flag.BO { background-position: 0px -432px }
.flag.BR { background-position: 0px -448px }
.flag.BS { background-position: 0px -464px }
.flag.BT { background-position: 0px -480px }
.flag.BV { background-position: 0px -496px }
.flag.BW { background-position: 0px -512px }
.flag.BY { background-position: 0px -528px }
.flag.BZ { background-position: 0px -544px }
.flag.CA { background-position: 0px -560px }
.flag.CC { background-position: 0px -576px }
.flag.CD { background-position: 0px -592px }
.flag.CF { background-position: 0px -608px }
.flag.CG { background-position: 0px -624px }
.flag.CH { background-position: 0px -640px }
.flag.CI { background-position: 0px -656px }
.flag.CK { background-position: 0px -672px }
.flag.CL { background-position: 0px -688px }
.flag.CM { background-position: 0px -704px }
.flag.CN { background-position: 0px -720px }
.flag.CO { background-position: 0px -736px }
.flag.CR { background-position: 0px -752px }
.flag.CU { background-position: 0px -768px }
.flag.CV { background-position: 0px -784px }
.flag.CX { background-position: 0px -800px }
.flag.CY { background-position: 0px -816px }
.flag.CZ { background-position: 0px -832px }
.flag.DE { background-position: 0px -848px }
.flag.DJ { background-position: 0px -864px }
.flag.DK { background-position: 0px -880px }
.flag.DM { background-position: 0px -896px }
.flag.DO { background-position: 0px -912px }
.flag.DZ { background-position: 0px -928px }
.flag.EC { background-position: 0px -944px }
.flag.EE { background-position: 0px -960px }
.flag.EG { background-position: 0px -976px }
.flag.EH { background-position: 0px -992px }
.flag.ER { background-position: 0px -1008px }
.flag.ES { background-position: 0px -1024px }
.flag.ET { background-position: 0px -1040px }
.flag.FI { background-position: 0px -1056px }
.flag.FJ { background-position: 0px -1072px }
.flag.FK { background-position: 0px -1088px }
.flag.FM { background-position: 0px -1104px }
.flag.FO { background-position: 0px -1120px }
.flag.FR { background-position: 0px -1136px }
.flag.GA { background-position: 0px -1152px }
.flag.GB { background-position: 0px -1168px }
.flag.GD { background-position: 0px -1184px }
.flag.GE { background-position: 0px -1200px }
.flag.GF { background-position: 0px -1216px }
.flag.GH { background-position: 0px -1232px }
.flag.GI { background-position: 0px -1248px }
.flag.GL { background-position: 0px -1264px }
.flag.GM { background-position: 0px -1280px }
.flag.GN { background-position: 0px -1296px }
.flag.GP { background-position: 0px -1312px }
.flag.GQ { background-position: 0px -1328px }
.flag.GR { background-position: 0px -1344px }
.flag.GS { background-position: 0px -1360px }
.flag.GT { background-position: 0px -1376px }
.flag.GU { background-position: 0px -1392px }
.flag.GW { background-position: 0px -1408px }
.flag.GY { background-position: 0px -1424px }
.flag.HK { background-position: 0px -1440px }
.flag.HM { background-position: 0px -1456px }
.flag.HN { background-position: 0px -1472px }
.flag.HR { background-position: 0px -1488px }
.flag.HT { background-position: 0px -1504px }
.flag.HU { background-position: 0px -1520px }
.flag.ID { background-position: 0px -1536px }
.flag.IE { background-position: 0px -1552px }
.flag.IL { background-position: 0px -1568px }
.flag.IN { background-position: 0px -1584px }
.flag.IO { background-position: 0px -1600px }
.flag.IQ { background-position: 0px -1616px }
.flag.IR { background-position: 0px -1632px }
.flag.IS { background-position: 0px -1648px }
.flag.IT { background-position: 0px -1664px }
.flag.JM { background-position: 0px -1680px }
.flag.JO { background-position: 0px -1696px }
.flag.JP { background-position: 0px -1712px }
.flag.KE { background-position: 0px -1728px }
.flag.KG { background-position: 0px -1744px }
.flag.KH { background-position: 0px -1760px }
.flag.KI { background-position: 0px -1776px }
.flag.KM { background-position: 0px -1792px }
.flag.KN { background-position: 0px -1808px }
.flag.KP { background-position: 0px -1824px }
.flag.KR { background-position: 0px -1840px }
.flag.KW { background-position: 0px -1856px }
.flag.KY { background-position: 0px -1872px }
.flag.KZ { background-position: 0px -1888px }
.flag.LA { background-position: 0px -1904px }
.flag.LB { background-position: 0px -1920px }
.flag.LC { background-position: 0px -1936px }
.flag.LI { background-position: 0px -1952px }
.flag.LK { background-position: 0px -1968px }
.flag.LR { background-position: 0px -1984px }
.flag.LS { background-position: 0px -2000px }
.flag.LT { background-position: 0px -2016px }
.flag.LU { background-position: 0px -2032px }
.flag.LV { background-position: 0px -2048px }
.flag.LY { background-position: 0px -2064px }
.flag.MA { background-position: 0px -2080px }
.flag.MC { background-position: 0px -2096px }
.flag.MD { background-position: 0px -2112px }
.flag.ME { background-position: 0px -2128px }
.flag.MG { background-position: 0px -2144px }
.flag.MH { background-position: 0px -2160px }
.flag.MK { background-position: 0px -2176px }
.flag.ML { background-position: 0px -2192px }
.flag.MM { background-position: 0px -2208px }
.flag.MN { background-position: 0px -2224px }
.flag.MO { background-position: 0px -2240px }
.flag.MP { background-position: 0px -2256px }
.flag.MQ { background-position: 0px -2272px }
.flag.MR { background-position: 0px -2288px }
.flag.MS { background-position: 0px -2304px }
.flag.MT { background-position: 0px -2320px }
.flag.MU { background-position: 0px -2336px }
.flag.MV { background-position: 0px -2352px }
.flag.MW { background-position: 0px -2368px }
.flag.MX { background-position: 0px -2384px }
.flag.MY { background-position: 0px -2400px }
.flag.MZ { background-position: 0px -2416px }
.flag.NA { background-position: 0px -2432px }
.flag.NC { background-position: 0px -2448px }
.flag.NE { background-position: 0px -2464px }
.flag.NF { background-position: 0px -2480px }
.flag.NG { background-position: 0px -2496px }
.flag.NI { background-position: 0px -2512px }
.flag.NL { background-position: 0px -2528px }
.flag.NO { background-position: 0px -2544px }
.flag.NP { background-position: 0px -2560px }
.flag.NR { background-position: 0px -2576px }
.flag.NU { background-position: 0px -2592px }
.flag.NZ { background-position: 0px -2608px }
.flag.OM { background-position: 0px -2624px }
.flag.PA { background-position: 0px -2640px }
.flag.PE { background-position: 0px -2656px }
.flag.PF { background-position: 0px -2672px }
.flag.PG { background-position: 0px -2688px }
.flag.PH { background-position: 0px -2704px }
.flag.PK { background-position: 0px -2720px }
.flag.PL { background-position: 0px -2736px }
.flag.PM { background-position: 0px -2752px }
.flag.PN { background-position: 0px -2768px }
.flag.PR { background-position: 0px -2784px }
.flag.PS { background-position: 0px -2800px }
.flag.PT { background-position: 0px -2816px }
.flag.PW { background-position: 0px -2832px }
.flag.PY { background-position: 0px -2848px }
.flag.QA { background-position: 0px -2864px }
.flag.RE { background-position: 0px -2880px }
.flag.RO { background-position: 0px -2896px }
.flag.RS { background-position: 0px -2912px }
.flag.RU { background-position: 0px -2928px }
.flag.RW { background-position: 0px -2944px }
.flag.SA { background-position: 0px -2960px }
.flag.SB { background-position: 0px -2976px }
.flag.SC { background-position: 0px -2992px }
.flag.SD { background-position: 0px -3008px }
.flag.SE { background-position: 0px -3024px }
.flag.SG { background-position: 0px -3040px }
.flag.SH { background-position: 0px -3056px }
.flag.SI { background-position: 0px -3072px }
.flag.SJ { background-position: 0px -3088px }
.flag.SK { background-position: 0px -3104px }
.flag.SL { background-position: 0px -3120px }
.flag.SM { background-position: 0px -3136px }
.flag.SN { background-position: 0px -3152px }
.flag.SO { background-position: 0px -3168px }
.flag.SR { background-position: 0px -3184px }
.flag.ST { background-position: 0px -3200px }
.flag.SV { background-position: 0px -3216px }
.flag.SY { background-position: 0px -3232px }
.flag.SZ { background-position: 0px -3248px }
.flag.TC { background-position: 0px -3264px }
.flag.TD { background-position: 0px -3280px }
.flag.TF { background-position: 0px -3296px }
.flag.TG { background-position: 0px -3312px }
.flag.TH { background-position: 0px -3328px }
.flag.TJ { background-position: 0px -3344px }
.flag.TK { background-position: 0px -3360px }
.flag.TL { background-position: 0px -3376px }
.flag.TM { background-position: 0px -3392px }
.flag.TN { background-position: 0px -3408px }
.flag.TO { background-position: 0px -3424px }
.flag.TR { background-position: 0px -3440px }
.flag.TT { background-position: 0px -3456px }
.flag.TV { background-position: 0px -3472px }
.flag.TW { background-position: 0px -3488px }
.flag.TZ { background-position: 0px -3504px }
.flag.UA { background-position: 0px -3520px }
.flag.UG { background-position: 0px -3536px }
.flag.UM { background-position: 0px -3552px }
.flag.US { background-position: 0px -3568px }
.flag.UY { background-position: 0px -3584px }
.flag.UZ { background-position: 0px -3600px }
.flag.VA { background-position: 0px -3616px }
.flag.VC { background-position: 0px -3632px }
.flag.VE { background-position: 0px -3648px }
.flag.VG { background-position: 0px -3664px }
.flag.VI { background-position: 0px -3680px }
.flag.VN { background-position: 0px -3696px }
.flag.VU { background-position: 0px -3712px }
.flag.WF { background-position: 0px -3728px }
.flag.WS { background-position: 0px -3744px }
.flag.YE { background-position: 0px -3760px }
.flag.YT { background-position: 0px -3776px }
.flag.ZA { background-position: 0px -3792px }
.flag.ZM { background-position: 0px -3808px }
.flag.ZW { background-position: 0px -3824px }
.flag.none { background-image: none !important;}
@font-face {
	font-family:"ff-meta-web-pro";
	src: url("../fonts/MetaWeb-Book.woff") format('woff');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family:"ff-meta-web-pro";
	src: url("../fonts/MetaWeb-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 600;
}

