@charset "UTF-8";
body {
	min-width: 50px;
}

.responsive-clear {
	clear: both;
}

.header .nav .active,
.nav a:hover {
	border-bottom: none;
}

.header .nav {
	float: left;
	width: 100%;
	background-color: #92AEB3;
	margin-top: 0;
	display: none;
}

.header .nav-indent {
	padding-top: 63px;
}

.header .nav li .logout-mobile {
	display: block;
	background-color: #D97F3E;
	color: #FFFFFF;
	text-transform: uppercase;
}

.header .nav li .login-mobile.col50,
.header .nav li .singup-mobile.col50 {
	width: 50%;
	background-color: #E6B672;
	background-image: -moz-linear-gradient(top, #E6B672, #C47548);
	background-image: -ms-linear-gradient(top, #E6B672, #C47548);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6B672), to(#C47548));
	background-image: -webkit-linear-gradient(top, #E6B672, #C47548);
	background-image: -o-linear-gradient(top, #E6B672, #C47548);
	background-image: linear-gradient(top, #E6B672, #C47548);
	background-repeat: repeat-x;
}

.header .nav li .singup-mobile.col50 {
	border-left: 1px solid #D2915A;
}

.header .nav li a.login-mobile,
.header .nav li a.singup-mobile,
.header .nav li a.singup-logout-mobile {
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 42px;
	background-color: #D97F3E;
	border-top: 1px solid #E8BC7D;
	border-bottom: 1px solid #9E5F3A;
	color: #FFFFFF;
	text-transform: uppercase;
}

.header .login {
	display: none !important;
	height: 35px;
}

.header .logo a {
	margin-left: 10px;
}

.container {
	max-width: 100%;
	position: relative;
}

.header {
	max-height: 300px;
}

.header.header-submenu {
	height: 114px;
}

.header .nav-menu-button {
	display: block;
	position: absolute;
	top: 20px;
	right: 15px;
}

.header .nav li a {
	background: none;
	color: #ffffff;
	padding: 0px 9px 0px 12px;
	height: 43px;
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #768D91;
	border-top: 1px solid #9CB6BB;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.nav .empty {
	background: #829199;
	height: 2px;
	display: block;
	text-decoration: none;
	font-size: 16px;
	border-bottom: none;
}

.header .nav li {
	float: none;
	line-height: 42px;
}

.header .nav .active,
.nav a:hover {
	color: #ffffff;
	background-color: #80A1A7;
}

.footer .image {
	background: none;
}

.footer {
	width: 94%;
	padding: 0 3%;
}

.footer .footer-title,
.footer .column .items,
.footer .column-last .items {
	border: none;
}

.submenu {
	display: block;
}

.in-hide, .header .nav li .in-hide {
	display: block;
}

.in-resp-hide {
	display: none;
}

.in-hide.line {
	padding-top: 61px;
	border-top: 2px solid #172A33;
	border-bottom: 1px solid #4C5C66;
}

.in-hide .submenu {
	margin-top: 0;
	background-color: transparent;
	width: 100%;
}

.in-hide .submenu li.press {
	min-width: 20%;
}

.in-hide .submenu li {
	padding-right: 0;
	min-width: 40%;
	float: left;
}

.in-hide .submenu li a {
	text-transform: none;
	color: #728C99;
	font-size: 15px;
	border-bottom: 5px solid #829199;
	padding: 10px 0;
	text-align: center;
	display: block;
}

.in-hide .submenu li a.active,
.in-hide .submenu li a:hover {
	color: #FFFFFF;
	border-radius: 0;
	border-bottom: 5px solid #D97F3E;
	background-color: transparent;
}

.social .flexslider .flex-direction-nav,
.about-us .flexslider .flex-direction-nav,
.how-to .flexslider-steps .flex-direction-nav,
.home-media .flexslider-stories .flex-direction-nav,
.home-media .flexslider-hiw .flex-direction-nav,
.home-media .flexslider .flex-direction-nav,
.trustpilot .flexslider-trustpilot .flex-direction-nav,
.awards .flexslider .flex-direction-nav {
	display: block;
}

.social .flexslider .flex-control-nav,
.about-us .flexslider .flex-control-nav,
.how-to .flexslider-steps .flex-control-nav,
.home-media .flexslider-stories .flex-control-nav,
.home-media .flexslider-hiw .flex-control-nav,
.home-media .flexslider .flex-control-nav,
.trustpilot .flexslider-trustpilot .flex-control-nav,
.awards .flexslider .flex-control-nav {
	display: none;
}

.social .flex-direction-nav .flex-prev,
.about-us .flex-direction-nav .flex-prev,
.how-to .flex-direction-nav li .flex-prev,
.home-media .flex-direction-nav li .flex-prev,
.trustpilot .flex-direction-nav li .flex-prev,
.awards .flex-direction-nav li .flex-prev {
	opacity: 1;
	left: 0;
}

.social .flex-direction-nav .flex-next,
.about-us .flex-direction-nav .flex-next,
.how-to .flex-direction-nav .flex-next,
.home-media .flex-direction-nav .flex-next,
.trustpilot .flex-direction-nav .flex-next,
.awards .flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
}

.social .flex-direction-nav a,
.how-to .flex-direction-nav a,
.home-media .flex-direction-nav a,
.trustpilot .flex-direction-nav a,
.trustpilot .flex-direction-nav a,
.awards .flex-direction-nav a {
	margin: -20px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
}

.awards .flex-direction-nav a {
	top: 80% !important;
}

.social .flex-direction-nav li .flex-prev,
.about-us .flex-direction-nav li .flex-prev,
.how-to .flex-direction-nav li .flex-prev,
.home-media .flex-direction-nav li .flex-prev,
.trustpilot .flex-direction-nav li .flex-prev,
.awards .flex-direction-nav li .flex-prev {
	background: url(images/index/flex_arrow_l.png) no-repeat;
	width: 16px;
	height: 59px;
	left: 2%;
}

.flexslider-steps .flex-direction-nav li .flex-prev,
.flexslider-steps .flex-direction-nav li .flex-next {
	margin-top: 60px;
}


.social .flex-direction-nav li .flex-next,
.about-us .flex-direction-nav li .flex-next,
.how-to .flex-direction-nav li .flex-next,
.home-media .flex-direction-nav li .flex-next,
.trustpilot .flex-direction-nav li .flex-next,
.awards .flex-direction-nav li .flex-next {
	background: url(images/index/flex_arrow_r.png) no-repeat;
	width: 16px;
	height: 59px;
	right: 2%;
}

.footer .column-last {
	margin-right: 30px;
}

.tag-careers {
	display: none;
}

.block-tablet {
	display: none !important;
}

.block-desktop {
	display: none !important;
}

.block-mobile,
.block-mobile.block-desktop,
.block-mobile.block-tablet {
	display: block;
}

.header .lang {
	position: absolute;
	top: -7px;
	right: 60px;
}

